include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT
		style.
			@font-face {
				font-family: "Manrope-Regular";
				src: url(../fonts/Manrope-Regular.woff2) format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Manrope-Medium";
				src: url(../fonts/Manrope-Medium.woff2) format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Manrope-SemiBold";
				src: url(../fonts/Manrope-SemiBold.woff2) format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Manrope-Bold";
				src: url(../fonts/Manrope-Bold.woff2) format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}
	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты меню

				.container-dashboard__content
					ul.ui-components
						li
							.pagination-nav
								a(href="#!").pagination-prev
									svg.svg-prev
										use(href="../img/spriteSvg.svg#chevron-left")
								a(href="#!") 2
								a(href="#!").active 3
								a(href="#!") 4
								a(href="#!") ..
								a(href="#!") 5
								a(href="#!").pagination-next
									svg.svg-next
										use(href="../img/spriteSvg.svg#chevron-right")
						
						li
							.tag
								span 05
								span
									svg.svg-cross
										use(href="../img/spriteSvg.svg#svg-cross")
							pre.
								.tag
									span 05
									span
										svg.svg-cross
											use(href="../img/spriteSvg.svg#svg-cross")

							.tag.active
								span 05
								span
									svg.svg-cross
										use(href="../img/spriteSvg.svg#svg-cross")
							pre.
								.tag.active
									span 05
									span
										svg.svg-cross
											use(href="../img/spriteSvg.svg#svg-cross")

						li
							.tag-wrapper.flx-block
								.tag
									span 05
									span
										svg.svg-cross
											use(href="../img/spriteSvg.svg#svg-cross")
								.tag.active
									span 05
									span
										svg.svg-cross
											use(href="../img/spriteSvg.svg#svg-cross")
								.tag
									span 05
									span
										svg.svg-cross
											use(href="../img/spriteSvg.svg#svg-cross")

						li
							.btn-wrapper.fly-center
								a(href="#!").btn-outline
									span Загрузить еще новости
									svg.svg-add
										use(href="../img/spriteSvg.svg#svg-add")
								
								.cards-counter 6 / 563
							pre.
								.btn-wrapper.fly-center
									a(href="#!").btn-outline
										span Загрузить еще новости
										svg.svg-add
											use(href="./img/spriteSvg.svg#svg-add")
									
									.cards-counter 6 / 563

						li
							.team-slide.foto-card
								.foto-card__text.fl-column
									.txt-semi Цаллагов Александр Сосланович
									p Помощник Главы Республики Северная Осетия-Алания - главный архитектор Республики Северная Осетия-Алания

									.body-6 Команда региона
								
								.foto-card__pic
									img(src="../img/team.webp", width="339" height="448" alt="foto")
							pre.
								.team-slide.foto-card
									.foto-card__text.fl-column
										.txt-semi Цаллагов Александр Сосланович
										p Помощник Главы Республики Северная Осетия-Алания - главный архитектор Республики Северная Осетия-Алания

										.body-6 Команда региона
									
									.foto-card__pic
										img(src="./img/team.webp", width="339" height="448" alt="foto")
