include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					ul
						li
							svg.svg-plus
								use(href="../img/spriteSvg.svg#svg-plus")
							pre.
								svg.svg-plus
									use(href="./img/spriteSvg.svg#svg-plus")
								
					
						li
							svg.chevron-left
								use(href="../img/spriteSvg.svg#chevron-left")
							pre.
								svg.chevron-left
									use(href="./img/spriteSvg.svg#chevron-left")

						li
							svg.chevron-right
								use(href="../img/spriteSvg.svg#chevron-right")
							pre.
								svg.chevron-right
									use(href="./img/spriteSvg.svg#chevron-right")
						li
							svg.svg-cross
								use(href="../img/spriteSvg.svg#svg-cross")
							pre.
								svg.svg-cross
									use(href="./img/spriteSvg.svg#svg-cross")
						li
							svg.svg-down
								use(href="../img/spriteSvg.svg#svg-down")
							pre.
								svg.svg-down
									use(href="./img/spriteSvg.svg#svg-down")
						li
							svg.svg-user
								use(href="../img/spriteSvg.svg#svg-user")
							pre.
								svg.svg-user
									use(href="./img/spriteSvg.svg#svg-user")
						li
							svg.svg-search
								use(href="../img/spriteSvg.svg#svg-search")
							pre.
								svg.svg-search
									use(href="./img/spriteSvg.svg#svg-search")
						li
							svg.svg-link
								use(href="../img/spriteSvg.svg#svg-link")
							pre.
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
						li
							svg.svg-mail
								use(href="../img/spriteSvg.svg#svg-mail")
							pre.
								svg.svg-mail
									use(href="./img/spriteSvg.svg#"svg-mail)
						li
							svg.svg-call
								use(href="../img/spriteSvg.svg#svg-call")
							pre.
								svg.svg-call
									use(href="./img/spriteSvg.svg#svg-call")
						li
							svg.svg-pin
								use(href="../img/spriteSvg.svg#svg-pin")
							pre.
								svg.svg-pin
									use(href="./img/spriteSvg.svg#svg-pin")
						li
							svg.svg-add
								use(href="../img/spriteSvg.svg#svg-add")
							pre.
								svg.svg-add
									use(href="./img/spriteSvg.svg#svg-add")
						li
							svg.svg-folder
								use(href="../img/spriteSvg.svg#svg-folder")
							pre.
								svg.svg-folder
									use(href="./img/spriteSvg.svg#svg-folder")
						li
							svg.svg-target
								use(href="../img/spriteSvg.svg#svg-target")
							pre.
								svg.svg-target
									use(href="./img/spriteSvg.svg#svg-target")
						li
							svg.svg-fullscreen
								use(href="../img/spriteSvg.svg#svg-fullscreen")
							pre.
								svg.svg-fullscreen
									use(href="./img/spriteSvg.svg#svg-fullscreen")
						li
							svg.svg-userId
								use(href="../img/spriteSvg.svg#svg-userId")
							pre.
								svg.svg-userId
									use(href="./img/spriteSvg.svg#svg-userId")
						li
							svg.svg-www
								use(href="../img/spriteSvg.svg#svg-www")
							pre.
								svg.svg-www
									use(href="./img/spriteSvg.svg#svg-www")
						li
							svg.svg-downl
								use(href="../img/spriteSvg.svg#svg-downl")
							pre.
								svg.svg-downl
									use(href="./img/spriteSvg.svg#svg-downl")
						li
							svg.svg-cam
								use(href="../img/spriteSvg.svg#svg-cam")
							pre.
								svg.svg-cam
									use(href="./img/spriteSvg.svg#svg-cam")
						li
							svg.svg-filter
								use(href="../img/spriteSvg.svg#svg-filter")
							pre.
								svg.svg-filter
									use(href="./img/spriteSvg.svg#svg-filter")

						li
							svg.svg-check
								use(href="../img/spriteSvg.svg#svg-check")
							pre.
								svg.svg-check
									use(href="./img/spriteSvg.svg#svg-check")

						li
							svg.svg-reload
								use(href="../img/spriteSvg.svg#svg-reload")
							pre.
								svg.svg-reload
									use(href="./img/spriteSvg.svg#svg-reload")
						
						li
							svg.svg-right
								use(href="../img/spriteSvg.svg#svg-right")
							pre.
								svg.svg-right
									use(href="./img/spriteSvg.svg#svg-right")

						li
							svg.svg-list
								use(href="../img/spriteSvg.svg#svg-list")
							pre.
								svg.svg-list
									use(href="./img/spriteSvg.svg#svg-list")						
						li
							svg.svg-medical
								use(href="../img/spriteSvg.svg#svg-medical")
							pre.
								svg.svg-medical
									use(href="./img/spriteSvg.svg#svg-medical")

						li
							svg.svg-benefit2
								use(href="../img/spriteSvg.svg#svg-benefit2")
							pre.
								svg.svg-benefit2
									use(href="./img/spriteSvg.svg#svg-benefit2")
						li
							svg.svg-benefit3
								use(href="../img/spriteSvg.svg#svg-benefit3")
							pre.
								svg.svg-benefit3
									use(href="./img/spriteSvg.svg#svg-benefit3")
						li
							svg.svg-benefit4
								use(href="../img/spriteSvg.svg#svg-benefit4")
							pre.
								svg.svg-benefit4
									use(href="./img/spriteSvg.svg#svg-benefit4")
						li
							svg.svg-benefit5
								use(href="../img/spriteSvg.svg#svg-benefit5")
							pre.
								svg.svg-benefit5
									use(href="./img/spriteSvg.svg#svg-benefit5")
						li
							svg.svg-benefit6
								use(href="../img/spriteSvg.svg#svg-benefit6")
							pre.
								svg.svg-benefit6
									use(href="./img/spriteSvg.svg#svg-benefit6")

						li
							svg.svg-icon_1
								use(href="../img/spriteSvg.svg#svg-icon_1")
							pre.
								svg.svg-icon_1
									use(href="./img/spriteSvg.svg#svg-icon_1")
						li
							svg.svg-icon_2
								use(href="../img/spriteSvg.svg#svg-icon_2")
							pre.
								svg.svg-icon_2
									use(href="./img/spriteSvg.svg#svg-icon_2")
						li
							svg.svg-icon_3
								use(href="../img/spriteSvg.svg#svg-icon_3")
							pre.
								svg.svg-icon_3
									use(href="./img/spriteSvg.svg#svg-icon_3")
						li
							svg.svg-icon_4
								use(href="../img/spriteSvg.svg#svg-icon_4")
							pre.
								svg.svg-icon_4
									use(href="./img/spriteSvg.svg#svg-icon_4")
						li
							svg.svg-icon_5
								use(href="../img/spriteSvg.svg#svg-icon_5")
							pre.
								svg.svg-icon_5
									use(href="./img/spriteSvg.svg#svg-icon_5")
						li
							svg.svg-icon_6
								use(href="../img/spriteSvg.svg#svg-icon_6")
							pre.
								svg.svg-icon_6
									use(href="./img/spriteSvg.svg#svg-icon_6")
						li
							svg.svg-icon_7
								use(href="../img/spriteSvg.svg#svg-icon_7")
							pre.
								svg.svg-icon_7
									use(href="./img/spriteSvg.svg#svg-icon_7")
						li
							svg.svg-icon_8
								use(href="../img/spriteSvg.svg#svg-icon_8")
							pre.
								svg.svg-icon_8
									use(href="./img/spriteSvg.svg#svg-icon_8")
						li
							svg.svg-icon_9
								use(href="../img/spriteSvg.svg#svg-icon_9")
							pre.
								svg.svg-icon_9
									use(href="./img/spriteSvg.svg#svg-icon_9")
						li
							svg.svg-icon_10
								use(href="../img/spriteSvg.svg#svg-icon_10")
							pre.
								svg.svg-icon_10
									use(href="./img/spriteSvg.svg#svg-icon_10")
						li
							svg.svg-icon_11
								use(href="../img/spriteSvg.svg#svg-icon_11")
							pre.
								svg.svg-icon_11
									use(href="./img/spriteSvg.svg#svg-icon_11")
						li
							svg.svg-icon_12
								use(href="../img/spriteSvg.svg#svg-icon_12")
							pre.
								svg.svg-icon_12
									use(href="./img/spriteSvg.svg#svg-icon_12")

						li
							svg.svg-icon_13
								use(href="../img/spriteSvg.svg#svg-icon_13")
							pre.
								svg.svg-icon_13
									use(href="./img/spriteSvg.svg#svg-icon_13")
						li
							svg.svg-icon_14
								use(href="../img/spriteSvg.svg#svg-icon_14")
							pre.
								svg.svg-icon_14
									use(href="./img/spriteSvg.svg#svg-icon_14")
						li
							svg.svg-icon_15
								use(href="../img/spriteSvg.svg#svg-icon_15")
							pre.
								svg.svg-icon_15
									use(href="./img/spriteSvg.svg#svg-icon_15")
						li
							svg.svg-icon_16
								use(href="../img/spriteSvg.svg#svg-icon_16")
							pre.
								svg.svg-icon_16
									use(href="./img/spriteSvg.svg#svg-icon_16")
						li
							svg.svg-icon_17
								use(href="../img/spriteSvg.svg#svg-icon_17")
							pre.
								svg.svg-icon_17
									use(href="./img/spriteSvg.svg#svg-icon_17")
						li
							svg.svg-icon_18
								use(href="../img/spriteSvg.svg#svg-icon_18")
							pre.
								svg.svg-icon_18
									use(href="./img/spriteSvg.svg#svg-icon_18")
						li
							svg.svg-icon_19
								use(href="../img/spriteSvg.svg#svg-icon_19")
							pre.
								svg.svg-icon_19
									use(href="./img/spriteSvg.svg#svg-icon_19")
						li
							svg.svg-icon_20
								use(href="../img/spriteSvg.svg#svg-icon_20")
							pre.
								svg.svg-icon_20
									use(href="./img/spriteSvg.svg#svg-icon_20")
						li
							svg.svg-icon_21
								use(href="../img/spriteSvg.svg#svg-icon_21")
							pre.
								svg.svg-icon_21
									use(href="./img/spriteSvg.svg#svg-icon_21")
						li
							svg.svg-icon_22
								use(href="../img/spriteSvg.svg#svg-icon_22")
							pre.
								svg.svg-icon_22
									use(href="./img/spriteSvg.svg#svg-icon_22")
						li
							svg.svg-icon_23
								use(href="../img/spriteSvg.svg#svg-icon_23")
							pre.
								svg.svg-icon_23
									use(href="./img/spriteSvg.svg#svg-icon_23")
						li
							svg.svg-icon_24
								use(href="../img/spriteSvg.svg#svg-icon_24")
							pre.
								svg.svg-icon_24
									use(href="./img/spriteSvg.svg#svg-icon_24")
						li
							svg.svg-icon_25
								use(href="../img/spriteSvg.svg#svg-icon_25")
							pre.
								svg.svg-icon_25
									use(href="./img/spriteSvg.svg#svg-icon_25")