.calculator-form__group{
	.large-card{
		min-height: 148px;
		.project-card{
			@media (max-width: 991px) {width: 100%; max-width: 100%;}
		}
		.project-card__footer{margin-top: auto;}
		@media (max-width: 991px) {
		  display: grid;
		  grid-template-columns:  1fr ;
		}
		@media (max-width: 767px) {
			position: relative;
			
		}
	}
	.large-card__text{
		padding: 30px;
		column-gap:30px;
		row-gap:30px;
		flex-wrap: wrap;
		position: relative;
		
		&>*+*{margin-top: 0;}
		.form-checkbox, .form-radio{
			min-width: 135px;
			
		}
		.body-5{padding-left: 10px; text-align: left;}
		@media (max-width: 767px) {
			column-gap: 10px;
			row-gap: 10px;
			padding: 20px;
			
		}
	}

	.project-card .body-bold{color: $ac1; flex-grow:1;}
}
.calculator-form__group.flex-center{
	.large-card__text {
		@media (max-width: 1599px) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			align-items: flex-start;
		}
		@media (max-width: 1279px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 1199px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (max-width: 767px) {
			grid-template-columns: 1fr 1fr;
		}
		.form-checkbox,.form-radio{min-width: 135px; }
		.fl-column {
			text-align: center;
			align-items: center;

			.body-5 {
				padding-left: 0;
				text-align: center;
			}
		}
	}
}
.calculator-form-page{
	&>*+*{margin-top: 30px;}
	@media (max-width: 767px) {
	&>*+* {
			margin-top: 20px;
		}
	}
	
}
.switch-content_on, .switch-content_of{
	display: none;
	&.active{display: block;width: 100%;}
}
.industry-grid__block{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:30px;
	.fl-column{
		flex-direction: row;
	}
	@media (max-width: 1439px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		gap: 10px;
		position: relative;
		label{padding-right: 20px;}
		height: 278px;
		overflow: hidden;
		
	}
}
.categories-page-toggle{
	display: flex;
	align-items:center;
	column-gap: 10px;
	@media (max-width: 767px) {
		position: absolute;
		right: 10px;
		top: 20px;
		flex-direction: column;
		margin-top: 0!important;
		row-gap: 10px;
		z-index: 2;
		
	}
}
.industry-grid__block{
	.categories-page-toggle{
		right: 0px;
		top: 0;
	}
}
.form-item-okved{
	display: flex;
	column-gap:10px;
	.mySelect{flex-grow: 1;}
}
.mySelect.mySelect-okved{
	.selectValue{
		display: flex;
		align-items: center;
		column-gap:10px;
		height: 54px;
		border-radius: 12px;
		border: 1px solid $sec2;
		padding-left: 16px;
		padding-right: 16px;
		background-color: #fff;
		flex-grow:1;
	}
	.mySelect-icon{
		position: relative;
		top:auto;
		bottom: auto;
		right: auto;
		left: auto;
		transform:rotate(0);
		
	}
	.mySelect-input{
		display: flex;
		column-gap:10px;
		flex-grow:1;
		
	}
	
	.okved-num	{
		width: 100px;
		flex-shrink: 0;
		@media(max-width:1599px){
			width: 70px;
			
		}
	}
	.mySelect-drop{
		max-height: 274px;
		bottom: -10px;
		border-radius: 12px;
		li{
			min-height: 54px;
			display: flex;
			align-items: center;
		}

	}
	.mySelect-drop label{
		padding-left: 16px;
		padding-right: 16px;
		min-height: 44px;
		align-items: flex-start;
		p, span{font-size: 16px;}
		
	}
	.mySelect-okved__row{
		display: flex;
		column-gap: 10px;
		@media(max-width:1279px) {
			flex-direction: column-reverse;
			row-gap:10px;
		}
	}
	.mySelect-okved-group{
		flex-grow:1;
	}
	.mySelect-okved-btns{
		display: flex;
		column-gap:10px;
		@media(max-width:1279px) {
			justify-content: flex-end;
			@media (max-width: 767px) {
			justify-content: flex-start;
			flex-shrink:1;
			}
		}
	}

	.clean-selectValue {
		display: none;
		padding-left: 15px;
		padding-right: 15px;
		min-width: 54px;
		height: 54px;
		background-color: $sec4;
		span{
			display: none;
			@media(max-width:1279px){
				display: block;
			}
		}
		@media (max-width: 1279px) {
		  max-width: unset;
		  width: auto;
		  flex-grow:1;
		}
	}
	.clean-selectValue.visible{display: flex;}

}
.calculator-form-footer {
	border-radius: 20px;
	border: 1px solid $sec2;
	background: $sec4;
	padding: 30px;
	margin-top: 20px;
	justify-content: space-between;
	[class^='btn']{
		width: auto;
		@media (max-width: 767px) {
			width: 54px;
			height: 54px;
		 span{display: none;}
		}
	}
	@media (max-width: 767px) {
		padding: 20px;
	}
}

.calculator-page {margin-left: 10px;}

.okved-modal{
	padding-top: 40px;
	padding-bottom: 40px;
	height: 100vh;
	.modal-frame{
		width: 95%;
		max-width: 1350px;
		height: 100%;
		display: flex;
		flex-direction: column;
		&>*{width: 100%;}
		background-color: #fff;
		position: relative;
		
		@media (max-width: 767px) {
		  width: 100%;
		  padding: 20px;
		}
	}
	.okved-modal__header{
		//  padding-top: 40px;
		padding-bottom: 30px;
		border-bottom: 1px solid $sec2;
		@media (max-width: 767px) {
			padding-bottom: 20px;
		}
	}
	.okved-modal__top{
		justify-content: space-between;
		@media (max-width: 991px) {
		.okved-modal__input{
			margin-left: 10px;
			flex-grow: 1;
		}
		}
	}
	.icon-close{
		width: 20px;
		height: 20px;
		justify-content: center;
		align-items: center;
		background-size: cover;
		position: relative;
		top: auto;
		right: auto;
		@media (max-width: 767px) {
		top: auto;
			right: auto;
		}
	}
	.okved-modal__title{
		.h2{
			margin-bottom: 0;
			padding-right: 40px;
			flex-grow:1;
			@media (max-width: 767px) {
			  font-size: 16px;
			}
		}
		margin-bottom: 30px;
		@media (max-width: 767px) {
		margin-bottom: 10px;
		}
	}
	.okved-modal__body{
		padding-right: 20px;
		@media (max-width: 767px) {
			padding-right: 10px;
		}
	}
	.scroll-wrapper{
		overflow: hidden;
		overflow-y: auto;
		height: calc(100% - 350px);
		margin-bottom: 86px;
		flex-grow: 1;
	    scrollbar-width: thin;
		scrollbar-color: $sec2 transparent;
		@media (max-width: 767px) {
			margin-bottom: 70px;
		}

		&::-webkit-scrollbar {
			display: block;
			width: 4px;
			height: 20px;
		}

		&::-webkit-scrollbar-thumb {
			width: 4px;
			height: 20px;
			background-color: $sec2;
			border-radius: 4px;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		
	}
	.okved-modal__footer{
		box-shadow: 0px -4px 20px 0px rgba(169, 173, 198, 0.30);
		padding-top: 30px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		border-radius: 0 0 20px 20px;
		@media (max-width: 767px) {
		   padding: 20px;
		}
	}
}
.py-30{
	padding-top: 30px;
	padding-bottom: 0;
	@media (max-width: 767px) {
	padding-top: 12px;
	}
}
.py-20 {
	padding-top: 20px;
	padding-bottom: 20px;
	@media (max-width: 767px) {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
}
.okved-list{

	.form-checkbox{
		flex-direction: column-reverse;
		display: flex;
		align-items: center;
		min-width: 45px;
        margin-right: 10px;
		input[type="checkbox"]{
			position: absolute;
			width: 0.01em;
			height: 0.01em;
			opacity: 0;
			.fake-checkbox{margin: 0; margin-top: 5px;}
		
		}
		.okved-num{font-family: $semi;}
		.fake-checkbox{
			margin-right: 0;
			margin-top: 3px;
		}
	}
	.okved-list__text{
		display: flex;
		align-items: center;
		.okved-list__icon{
			align-self:flex-start;
		}
	}
	.okved-name{
		font-size: 16px;
		line-height: 1.4;
		flex-grow: 1;
		@media (max-width: 767px) {
			font-size: 14px;
		}
		&.body-3{
			font-size: 18px;
			@media (max-width: 767px) {
			font-size: 14px;
			}
		}
	}
	.okved-list__header{
		display: flex;
		align-items: center;
		cursor: pointer;
		&.open{
			
			.okved-list__icon{
				transform: rotate(180deg);
				svg{fill:$ac1;}
			}
		}
	}
	.livel_1{padding-bottom: 20px;}
	.livel_1-drop.visible .okved-sublist.okved-sublist__level-2{display: block;}
	.livel_1 +.livel_1{
		border-top:1px solid $sec2;}
	.okved-sublist__block{
		margin-right: 16px;
		border:1px solid $sec2;
		border-radius: 20px;
		margin-top: 16px;
		.okved-sublist__block{margin-right: 0;}
		& .okved-sublist__block{
			border: 0;
			border-radius: 0;
			
		}
		.okved-list__header{
			padding-left: 10px;
			padding-right: 20px;
			@media (max-width: 767px) {
				padding-left: 5;
				padding-right: 10px;
			}
		}
		.okved-name{padding-right: 12px;}

	}
	.okved-list__text{
		flex-grow:1;
	}
	.okved-list__icon{
      transition: .3s;
	}
	.open.okved-list__header{
		.okved-num, .okved-name{color: $ac1;}
	}
	.okved-sublist{display: none;}
	.okved-sublist.visible,.livel_1-drop.visible {
		display: block;
		.open.okved-list__header {
			position: relative;
			
			&:after{
				content:'';
				height: 1px;
				background-color: $sec2;
				position: absolute;
				left: 20px;
				right: 20px;
				bottom: 0;
			}
			//  border-top: 1px solid $sec2;
		}
	}
}
.okved-list .okved-sublist{
	.okved-sublist__level-3{
		.okved-list__header{padding-left: 30px;}
	}
	.okved-sublist__level-4 {
		.okved-list__header {
			padding-left: 60px;
		}
	}
	.okved-sublist__level-5 {
		.okved-list__header {
			padding-left: 90px;
		}
	}
	.okved-sublist__level-6 {
		.okved-list__header {
			padding-left: 120px;
		}
	}
}
@media (max-width: 767px) {
.okved-list .okved-sublist {
		.okved-sublist__level-3 {
			.okved-list__header {
				padding-left: 10px;
			}
		}

		.okved-sublist__level-4 {
			.okved-list__header {
				padding-left: 20px;
			}
		}

		.okved-sublist__level-5 {
			.okved-list__header {
				padding-left: 30px;
			}
		}

		.okved-sublist__level-6 {
			.okved-list__header {
				padding-left: 40px;
			}
		}
	}
}
.btn.okved-modal-clean{
	@media (max-width: 991px) {
		width: 54px;
		height: 54px;
		span{	
			display: none;
			
		}
	}
}
