.contacts{position: relative;
	height: 950px;
	width: 100%;
	@media (max-width: 767px) {
		height: auto;
	}
}
.contacts-map{
	filter: grayscale(1);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	
	@media (max-width: 767px) {
		position: relative;
		height: 800px;
	}
}
.contacts-content{
	position: relative;
	z-index: 2;
	
	@media (max-width: 767px) {
		height: 545px;
	}
}
.contacts-form{
	border-radius: 20px;
	border: 1px solid $sec2;
	background: $sec4;
	box-shadow: 0px 4px 40px 0px rgba(169, 173, 198, 0.35);
	padding: 40px 30px;
	width: 100%;
	max-width: 490px;
	.main-menu-logo{
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		border-bottom:0 ;
	}
	@media (max-width: 767px) {
		position: absolute;
		bottom:60px;
		left: 50%;
		transform: translateX(-50%);
		padding: 30px 20px;
		width: 87%;
	}
	
}
.gradient-box__text{
	.body-3{
		font-family: $bold;
		margin-bottom: 20px;
	}ul{
		li{font-size: 14px; font-family: $reg; margin-top: 10px;}
		li a{
			color: white;
		}
	}
}