.tabs-content {
	display: none;
	opacity: 0;
}

.tabs-content-wrapper{
	padding-top: 45px;
}

.projects-menu ul{
	
	overflow:hidden;overflow-x: auto;
	&::-webkit-scrollbar{
		display: block;
		width: 20px;
		height: 4px;
	}
	&::-webkit-scrollbar-thumb{
		width: 20px;
		height: 4px;
		border-radius: 10px;
		background-color: $sec2;
	}
	@media (max-width: 1199px) {
		width: calc(50% + 50vw - 160px);
	}
	@media (max-width: 1199px) {
		width: calc(50% + 50vw - 15px);
	}
}

.projects-menu{
	border-bottom: 1px solid $sec2;
	background:$sec4;
	position: sticky;
	top:0;
	ul{
		display: flex;
		column-gap: 20px;
		color: $sec;
		line-height: 1.4;
		font-family: $semi;
		font-size: 16px;
		li{
			padding-top: 47px;
			padding-bottom: 47px;
			cursor: pointer;
			transition: .5s;;
			border-bottom:2px solid transparent;

			@media (max-width: 899px) {
			     
					padding-top: 7px;
					padding-bottom: 7px;
					height: 47px;
			        
			
				}
			@media (max-width: 899px) {
			  font-size: 12px;
			  &:last-child{
				min-width: 180px;;
				}
			list-style-type: disc;
			padding-right: 4px;
			}
			li.active{
				border-bottom: 2px solid $ac1;
				color: $pr;
				@media (max-width: 1199px) {
					border-bottom: 0;
					
				}
			}
		}

	}
	
}
