.footer{
	background: $pr1;
	padding: 100px 200px;
	padding-bottom: 20px;
	color: $sec1;
	.social-group{
		column-gap:30px;
	}
	@media (max-width: 2399px) {
		padding: 60px;
	}
	@media (max-width: 767px) {
		padding: 20px;
	}
	color: white;
	.footer-logo{
		width: 300px;
		color: #fff;
		p{
			color: #fff
		}
	}
	.footer-top{
		display: flex;
		justify-content: space-between;
	}
}

.footer-menu{
	display: flex;
	column-gap:90px;	
		label ul li> a{
			color: $sec;
		}
		ul{
			
			li{
				display: flex;
				align-items: center;
				column-gap:10px;
				svg{fill:white}
			}
			a{
				display: block;
				font-size: 16px;
				transition: .3s;
				color: white;
				padding-top: 10px;
				padding-bottom: 10px;
				
				&:hover{
					color: white;
				}
			}
			
			
	}
	li +li{margin-top: 4px;} 
	&__title{
		font-size: 16px;
		color: white;
		font-weight: 600;
		font-family: $semi;
		line-height: 1.4;
		margin-bottom: 18px;
		
		
		@media (max-width: 767px) {
			position: relative;
			width: fit-content;
			padding-right: 30px;
			margin-left: auto;
			margin-right: auto;
		
			&:after{
				content: '';
				position: absolute;
				right: 0;
				top: 7px;
				
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' fill='none' viewBox='0 0 18 10'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' d='M8 .8L5.118 2.882a1 1 0 01-1.162.006L1 .8'%3e%3c/path%3e%3c/svg%3e");
				width: 20px;
				height: 14px;
				background-repeat: no-repeat;background-size: auto;
				background-position:center;
			}
		}
	}
	
    @media (max-width: 767px) {
		
		&__ul {
			display: none;
		}
	
		&-list input:checked + &__ul {
			display: block;
		}
	}
}
.footer-contacts{
	justify-content: space-between;
	color: $sec1;
	margin-top: 60px;
	padding-bottom: 20px;
}
.footer-contacts__row{column-gap:30px;}
.footer-contacts__row .flex-link{
	color: $sec1;
	svg{fill:$sec1; width:20px; height:20px;}
}
.footer-bottom{
	border-top: 1px solid $sec1;
	padding-top: 20px;
	justify-content: space-between;
	color: $sec1;
	a{color: $sec1;}
}
	