.header-inner{
	position: relative;
	&:before{
		content:'';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(0deg, rgba(81, 98, 255, 0.30) 0%, rgba(81, 98, 255, 0.30) 100%);
		background-blend-mode: screen, normal;
	}
}

.header-content{
	height: 940px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 60px;
	padding-right: 60px;
	.gradient-box{
		min-width: 60%;
		width: 100%;
		max-width: 1120px;
	}
	@media (max-width: 1919px) {
		height: 800px;

	}

	@media (max-width: 1199px) {
		height: (calc(100vh - 70px));
	}
	@media (max-width: 767px) {
		padding: 30px 20px;
		align-items: flex-start;
		.gradient-box{width: fit-content; }
	}
}
