.gradient-box{
	border-radius: 20px;
	border: 2px solid #ACB4FF;
	background: linear-gradient(93deg, rgba(81, 98, 255, 0.50) 0.25%, rgba(115, 130, 255, 0.50) 100%);
	box-shadow: -8px -8px 25px 0px rgba(112, 126, 255, 0.50) inset, 8px 8px 25px 0px rgba(112, 126, 255, 0.50) inset;
	backdrop-filter: blur(12.5px);
	padding: 60px 80px;
	&>*{color: #fff;}
	@media (max-width: 767px) {
	   padding: 20px;
	}
}
.gradient-block  .gradient-box{
	padding: 40px;
	
}
.gradient-box.gradient-box--special {
	position: relative;
	min-height: 212px;
	padding: 40px;
	-webkit-mask-image: radial-gradient(circle at 106px 50%, rgba(81, 98, 255, 0.80) 0%, rgba(81, 98, 255, 0.90) 56px, rgba(112, 126, 255, 1) 56px, rgba(112, 126, 255, 1) 58px, transparent 58px,
			transparent 68px, #ACB4FF 68px, #ACB4FF 70px, black 70px, black 100px);
}
.gradient-box__content{
	position: absolute;
	left: 40px;
	right: 40px;
	top: 50%;
	transform: translateY(-50%);
	column-gap:50px;

}
.gradient-box__icon{
	width: 132px;
	height: 132px;
	flex-shrink:0;
}
.gradient-block__group{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:30px;
}
.header-slider-wrapper{
	position: relative;
	&:after, &:before{
		position: absolute;
		content: '';
		width: 1px;
		background-color: #fff;
		height: 34%;
		right: 59px;
		top: 0;
		z-index: 2;
	}
	&:before {
		top: auto;
		bottom: 0;
	}
	.header-slider__decore{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 48%;
	}
} 
.header-slider{
	height: 940px;

	
	.header-slider__item img{
		height: 940px;
		width: 100%;
		object-fit: cover;
	}
}

.owl-carousel .owl-dots{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 59px;
	transform: translateX(50%);
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
	.owl-dot{
		position: relative;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 1);
		box-sizing: border-box;
		cursor: pointer;
	}
	.owl-dot.active{
		width: 14px;
		height: 14px;
	}
	.owl-dot.active::after {
		position: absolute;
		content: "";
		top: -6px;
		bottom: -6px;
		right: -6px;
		left: -6px;
		border-radius: 50%;
		-webkit-animation-name: dot-animate;
		animation-name: dot-animate;
		-webkit-animation-duration: 7s;
		animation-duration: 7s;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}

	.owl-dot.active::before {
		position: absolute;
		content: "";
		top: -6px;
		bottom: -6px;
		right: -6px;
		left: -6px;
		border-radius: 50%;
		border: 6px solid transparent;
	}
}	
@keyframes dot-animate {
	0% {
		border: 6px solid $ac1;
		-webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%, 50% 50%)
	}

	12.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 0 0, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 0 0, 50% 50%, 50% 50%)
	}

	25% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 50%, 0 50%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 50%, 0 50%, 50% 50%, 50% 50%)
	}

	37.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 50% 50%, 50% 50%)
	}

	50% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 50%, 50% 50%)
	}

	62.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%)
	}

	75% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 50%)
	}

	87.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 50% 50%)
	}

	100% {
		border: 6px solid $ac1;
		-webkit-clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%)
	}

}
