.partnership-block{
	.brand-card{
		.project-card{
			width: 315px;
			@media (max-width: 767px) {
			width: 100%;
			}
		}
		.brand-card__text{
			display: flex;
			align-items: center;
		}
		

	}
}
.showcase-form{
	.form-item{flex-grow: 1;}
		
	.form-btn{padding-top: 24px;}
	.form-row{
		@media (max-width: 1199px) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		.form-btn {
				padding-top: 0;
			}
		}
		@media (max-width: 767px) {
		grid-template-columns: 1fr;
		}
	}
}