.foto-card {

	display: grid;
	column-gap: 10px;
	grid-template-columns: 1fr 339px;
	color: $sec;
	line-height: 1.4;

	@media(max-width:699px) {
		display: flex;
		flex-direction: column-reverse;
		row-gap: 10px;
	}

	.txt-semi {
		font-size: 16px;
		margin-bottom: 10px;
		color: $pr;
	}

	p {
		font-size: 14px;
		flex-grow: 2;
	}

	&__text {
		padding: 30px;

		&>* {
			width: 100%;
		}

		border-radius: 20px;
		border: 1px solid $sec2;
		background: white;

		@media (max-width: 699px) {
			min-height: 240px;
			;
			width: 320px;
			padding: 20px;

		}
	}

	.body-6 {
		padding-top: 10px;
		border-top: 0.5px solid $sec1;
	}

	&__pic {
		border-radius: 20px;
		overflow: hidden;
		width: 325px;
		height: 289px;
		

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		@media(max-width:699px) {
			height: 200px;
			width: 320px;

		}
	}
}
.team{
	.h3, h3{
		max-width: 280px;;
	}
	.container{
		position: relative;
	}
	
	@media(max-width:1439px){
		position: relative;
		
		.team-slider-nav{
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	
	@media (max-width: 767px) {
	.team-slider-nav{
		right: 0;
		justify-content: space-between;
	}
	}
}
.team-slider-wrapper{
	
	display: flex;
	.team-slider{
		flex-shrink: 0;
		margin-left: auto;
		max-width: 690px;
		width: 100%;
		.owl-dots{display: none;}
		@media (max-width: 991px) {
			margin-left: auto;
			margin-right: auto;
			
		}
		@media (max-width: 699px) {
			width: 320px;

		}

	}
	@media(max-width:1439px){
		flex-direction: column;
		
	}
	@media (max-width: 991px) {
	position: relative;
	padding-bottom: 80px;
	}
}
#team-counter{
	position: absolute;
	z-index: 5;
	top: 50%;
	right:317px;
	// transform: translate(0, -50%);
	font-size: 14px;
	font-family: $bold;
	color: #fff;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: $ac1;
	text-align: center;
	line-height: 54px;
	// @media (max-width: 699px) {
	// 		top: 52%;
	// 		right: 320px;
	// 		transform: translate(0, 0);
	// 	}
	@media (max-width: 699px) {
			top: 52%;
			right: 320px;
			transform: translate(0, 0);
		}
	@media (max-width: 699px) {
		top: 52%;
		right:50%;
		transform: translate(50%, 0);
	}
}

.team-slider-col{
	justify-content: space-between;
}
.fly-center>.btn-right{margin-left: 30px; margin-top: 0!important;margin-bottom: 0;}
.owl-carousel{
	.foto-card__pic {
		
		height: 448px;
		width: 339px;
        .txt-semi{color: $sec;}
		@media(max-width:699px) {
			height: 354px;
			width: 320px;

		}
	}
}