article.benefits
	.container
		.h3 Что предлагает АО «Корпорация инвестиционного развития Республики Северная Осетия-Алания
		.benefits-block
			//===single card ====
			.simple-card
				.simple-card__icon
					svg.svg-folder
						use(href="./img/spriteSvg.svg#svg-folder")
				.txt-medi Инвестиционные проекты

			//===single card ====
			.simple-card
				.simple-card__icon
					svg.svg-folder
						use(href="./img/spriteSvg.svg#svg-folder")
				.txt-medi Инвестиционные площадки
			//===single card ====
			.simple-card
				.simple-card__icon
					svg.svg-folder
						use(href="./img/spriteSvg.svg#svg-folder")
				.txt-medi Инновационные проекты
			//===single card ====
			.simple-card
				.simple-card__icon
					svg.svg-folder
						use(href="./img/spriteSvg.svg#svg-folder")
				.txt-medi Инвестиционные предложения