//============= СТР 3 Результаты ПОИСКА ============
.calculator-form-page.calculator-form-results(data-page="page_3")
	.form-fieldset
		.calculator-form-restart.fly-center
			p.text-24 Начать поиск заново
			
			button.btn-accent.btn-xs-short(type="button"  data-btn = "page_1")
				span Начать
				svg.svg-search
					use(href="./img/spriteSvg.svg#svg-search")
	
	.calculator-search-results
		.h3 Результат поиска
		.calculator-search-tabs
			.txt-upper Категории поддержки:
			.tabs-btns
				ul
					li Все
					li Налоговая
					li Субсидия
					li Кредиты и займы
					li Имущественная
					li Консультационная
					li Образовательная
