//============= СТР 2 ============
.calculator-form-page
	.form-fieldset
		.calculator-form-range
			#slide-test-1
				#range-1.range
					input#input-range-1(type='range' min='1' max='7' steps='1' value='1')
				ul#labels-range-1.range-labels
					li.active.selected(data-stop='0') 0
					
					li(data-stop='100') 100
					li(data-stop='200') 200
					li(data-stop='300') 300
					li(data-stop='400') 400
					li(data-stop='500') 500
					li(data-stop='600') 600