article.capital-transfer
	.container
		.h3 Денежные переводы и перемещение капитала
		p В России свобода перемещения капитала и движения платежей для иностранных инвесторов ничем не ограничена и гарантирована законом. Иностранный инвестор может беспрепятственно переводить доходы, заработанные в России, на банковские счета в других странах при условии соблюдения правил валютных операций и уплаты всех налогов.
		p Наличные средства можно вывозить из России без ограничений в сумме, в эквиваленте не превышающей 10 000 долларов США. Если сумма в эквиваленте превышает 10 000 долларов США, ее вывоз необходимо задекларировать в пассажирской таможенной декларации.
		p Центральный банк Российской Федерации (Банк России)
		ul
			li устанавливает правила осуществления денежных расчетов и банковских операций,• организует и осуществляет валютное регулирование и валютный контроль в соответствии с законодательством Российской Федерации,• осуществляет надзор за деятельностью кредитных организаций и банковских групп.
		
		h4 Расчеты между юридическими лицами (организациями)
		.capital-table
			.capital-table__head
				p Вид расчетов
				p Характер платежей
				p Условия
				p Ограничения
			
			.capital-table__row
				p Наличные
				p Связанные с осуществлением предпринимательской деятельности
				p Использование контрольно-кассовой техники (ККТ) либо оформление документов на банках строгой отчетности (БСО). Исключение составляют некоторые виды розничной торговли, для которых необязательно применение ККТ и БСО
				p По перечню, утвержденному Центральным банком РФ. Не более 100 тысяч рублей в рамках одного договора. Не распространяется на выплаты своим работникам заработной платы, стипендий, иными выплатами (в том числе социального характера)
			
			.capital-table__row
				p Безналичные
				p Связанные с осуществлением предпринимательской деятельности
				p Обязательное указание назначения и суммы платежа
				p Нет