.documents-page-content
	.sticky-menu
		.container
			ul#sticky-menu
				li
					a(href="#state-support").active Господдержка
				li
					a(href="#antitrust") Антимонопольный комплаенс
				li
					a(href="#normative") Нормативные документы
				li
					a(href="#economy-republic") Экономика республики

	section.documents
		article.state-support.sticky-menu-section#state-support
			.container
				.h2 Господдержка
				.brand-cards-wrapper
					//====card=====
					.brand-card.fl-block
						.project-card
							.project-card__img
								img(src="./img/brend-logo1.webp", width="245" height="101" alt="logo")
							.project-card__footer.fly-center
								p ООО «А.РАЙМОНД РУС»(Франция)
								a(href="#!").project-card__link
									svg.svg-cam
										use(href="./img/spriteSvg.svg#svg-cam")

						.brand-card__text
							.title-24 ООО «А.РАЙМОНД РУС»(Франция)
							p Компания «А.Раймонд РУС» запустила свой завод в Нижегородской области в 2015 году на территории городского округа город Дзержинск. Производство было запущено в кратчайшие сроки при активном содействии региональных властей. 
							p Основные сферы деятельности предприятия – производство и продажа крепежных изделий и специализированных компонентов из пластмассы преимущественно для автомобильной промышленности России. Сегодня крепежные элементы от Компания «А.Раймонд РУС» используются практически во всех автомобилях отечественной сборки.
					//====card=====
					.brand-card.fl-block
						.project-card
							.project-card__img
								img(src="./img/brend-logo2.webp", width="245" height="101" alt="logo")
							.project-card__footer.fly-center
								p РБПИ ГРУПП (Норвегия)

						.brand-card__text
							.title-24 РБПИ ГРУПП (Норвегия)
							p В 2012 году РБПИ Групп основала свиноводческий комплекс ООО «ННПП» в Нижегородской области. В 2016 году компания приступила к реализации второго свиноводческого комплекса ООО «ННПП-2» в Большемурашкинском районе Нижегородской области.
							p Сегодня РБПИ Групп в Нижегородской области – это 2 свиноводческих комплекса, 1 растениеводческое подразделение и 2 комбикормовых завода. Компания продолжает инвестиционную деятельность в области сельского хозяйства – в 2022 году планируется ввод в эксплуатацию двух свиноводческих комплексов в Сергачском и Ардатовском районах.
							p РБПИ Групп входит в число крупнейших производителей свинины в России.
					//====card=====
					.brand-card.fl-block
						.project-card
							.project-card__img
								img(src="./img/brend-logo5.webp", width="245" height="101" alt="logo")
							.project-card__footer.fly-center
								p ООО «ХОМА АДГЕЗИВ»(Россия)
								a(href="#!").project-card__link
									svg.svg-cam
										use(href="./img/spriteSvg.svg#svg-cam")

						.brand-card__text
							.title-24 ООО «ХОМА АДГЕЗИВ»(Россия)
							p Компания «Хома» – российский разработчик и производитель полимерных дисперсий и клеевых систем. На рынке химической отрасли с 1998 года. Сегодня научную деятельность компании осуществляют 2 научных и 6 исследовательских центров, 4 специализированные лаборатории.
							p Компания активно расширяет производственные мощности. С 2017 года запущен инвестиционный проект по расширению собственного производства в г. Дзержинске Нижегородской области. В 2020 году дочернее предприятие «Хома Адгезив» стало резидентом ОЭЗ «Кулибин», что обеспечило снижение налоговых ставок на прибыль, а также нулевые ставки по налогам на имущество, землю и транспортный налог. Статус «резидента» – это не только новые производственные возможности и инвестирование на выгодных условиях, но и установление кооперационных связей между резидентами ОЭЗ.
							p В 2021 году компания «Хома Адгезив» запустила первый участок по производству полиуретановых клеевых систем, применяемых в строительной и автомобильной отраслях, в июне 2022 года состоялось открытие второго участка по производству водных клеевых материалов. Общий объем инвестиций в проект составляет около 318 млн рублей, предусмотрено создание 160 новых рабочих мест.
		
		//===== Реализованные инвестиционные проекты ======
		article.antitrust.sticky-menu-section#antitrust
			.container
				.h2 Реализованные инвестиционные проекты на территории республики
				
				//===== single card ======
				.success-project.fl-block
					.success-project__left
						img(src="./img/brend-logo6.webp", width="245" height="101" alt="logo")
					.success-project__center
						.h4 ООО «Ателье Гончарова»
						p Строительство предприятия по производству музыкальных инструментов
						ul
							li
								span Страна
								p Россия
							li
								span Реализация:
								p г.о.г.Нижний Новгород
							li
								span Отрасль:
								p Промышленность
					.success-project__right
						.h4 Объем инвестиций:
						
						.h1 130
							//===== это спан для моб версии
							span млн рублей
						//===== это спан для деск версии
						span млн рублей

				//===== single card ======
				.success-project.fl-block
					.success-project__left
						img(src="./img/brend-logo7.webp", width="245" height="101" alt="logo")
					.success-project__center
						.h4 ООО «Тепличный комбинат Нижегородский»
						p Строительство тепличного комплекса для круглогодичного выращивания овощной продукции
						ul
							li
								span Страна
								p Россия
							li
								span Реализация:
								p г.о.г.Бор
							li
								span Отрасль:
								p Сельское хозяйство
					.success-project__right
						.h4 Объем инвестиций:
						
						.h1 5 336
							//===== это спан для моб версии
							span млн рублей
						//===== это спан для деск версии
						span млн рублей

				//===== single card ======
				.success-project.fl-block
					.success-project__left
						img(src="./img/brend-logo5.webp", width="245" height="101" alt="logo")
					.success-project__center
						.h4 ООО «Хома Адгезив»
						p Создание производства клеевых материалов на основе сополимер-акриловых, поливинилацетатных и полиуретановых дисперсий
						ul
							li
								span Страна
								p Россия
							li
								span Реализация:
								p г.о.г.Дзержинск
							li
								span Отрасль:
								p Химическая промышленность
					.success-project__right
						.h4 Объем инвестиций:
						
						.h1 318
							//===== это спан для моб версии
							span млн рублей
						//===== это спан для деск версии
						span млн рублей
		
				//===== блок с кнопкой ======
				.btn-wrapper.fly-center
					a(href="#!").btn-outline
						span Загрузить еще проекты
						svg.svg-add
							use(href="./img/spriteSvg.svg#svg-add")

					.cards-counter 3 / 97
		
		article.normative.sticky-menu-section#normative
			.container
				.h2 Каталог инвестиционных предложений
				p.body-reg В Каталоге инвестиционных предложений Нижегородской области представлены для инвесторов масштабные инфраструктурные проекты, требующие частного финансирования, проекты, предполагающие долевое участие инвестора в создании новых или модернизации действующих предприятий, а также готовые инвестиционные площадки по таким направлениям как промышленность, сельское хозяйство, туризм и др., а также сведения о льготных территориях, на которых возможно размещение различных объектов для нужд инвесторов, и контакты лиц, отвечающих за сопровождение проекта

				a(href="#!").download-card
					img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
					p Каталог инвестиционных предложений РСО-Алания
					span .pdf
					svg.svg-downl
						use(href="./img/spriteSvg.svg#svg-downl")
					
				//===== search form ====	
				.invest-catalogy__form
					form.catalogy-form(action="" method="method")
						fieldset.form-fieldset
							.form-row
								.form-item.form-item--search
									input.form-input(type="text" placeholder="Найти...")
									button(type="submit").flx-center
										svg.svg-search
											use(href="./img/spriteSvg.svg#svg-search")
								button(type="button").btn-outline#advanced-search-btn
									span Расширенный поиск
									svg.svg-filter
										use(href="./img/spriteSvg.svg#svg-filter")
						fieldset.form-fieldset#advanced-form
							//==== form single row =====
							.form-row
								//===single select ====
								.form-item
									label.text-label Отрасль
									.mySelect
										.mySelect-icon
										.mySelect-input
											input.selectValue(type='text' readonly='' placeholder="Выберите значение")
										.mySelect-drop
											input.mySelect-options(type='text' readonly='' value='Значение-1')
											input.mySelect-options(type='text' readonly='' value='Значение-2')
											input.mySelect-options(type='text' readonly='' value='Значение-3')
											input.mySelect-options(type='text' readonly='' value='Значение-4')
								
								//===single select ====
								.form-item
									label.text-label Район
									.mySelect
										.mySelect-icon
										.mySelect-input
											input.selectValue(type='text' readonly='' placeholder="Выберите значение")
										.mySelect-drop
											input.mySelect-options(type='text' readonly='' value='Значение-1')
											input.mySelect-options(type='text' readonly='' value='Значение-2')
											input.mySelect-options(type='text' readonly='' value='Значение-3')
											input.mySelect-options(type='text' readonly='' value='Значение-4')

							//==== form single row =====
							.form-row.form-row--grid
								.form-item
									label.text-label Объем финансирования (млн руб.)
									.form-item__group.fly-center
										input(type="number" placeholder="Введите значение")
										span -
										input(type="number" placeholder="Введите значение")
								.form-item.form-buttons
									button(type="button").btn-outline
										span Применить
										svg.svg-check
											use(href="./img/spriteSvg.svg#svg-check")

									button(type="button").btn.btn-clean
										span Отменить
										svg.svg-reload
											use(href="./img/spriteSvg.svg#svg-reload")

				//=== cards block====
				.invest-catalogy__cards
					//====card=====
					.foto-card
						a(href="#!").foto-card__text.fl-column
							.txt-semi Преференциальные территории
							p Особая экономическая зона промышленно-производственного типа «Кулибин»

							.body-6 Смотреть проект
						
						.foto-card__pic
							img(src="./img/catalog1.webp", width="325" height="289" alt="foto")

					//====card=====
					.foto-card
						a(href="#!").foto-card__text.fl-column
							.txt-semi Преференциальные территории
							p Территория опережающего развития «САРОВ»

							.body-6 Смотреть проект
						
						.foto-card__pic
							img(src="./img/catalog2.webp", width="325" height="289" alt="foto")
					
					//====card=====
					.foto-card
						a(href="#!").foto-card__text.fl-column
							.txt-semi Индустриальные парки
							p Индустриальный парк «ЗАРЯ»

							.body-6 Смотреть проект
						
						.foto-card__pic
							img(src="./img/catalog3.webp", width="325" height="289" alt="foto")
					
					//====card=====
					.foto-card
						a(href="#!").foto-card__text.fl-column
							.txt-semi Технопарки
							p Промышленный технопарк «Машиностроение»

							.body-6 Смотреть проект
						
						.foto-card__pic
							img(src="./img/catalog4.webp", width="325" height="289" alt="foto")
		
				//===== блок с кнопкой ======
				.btn-wrapper.fly-center
					a(href="#!").btn-outline
						span Загрузить еще проекты
						svg.svg-add
							use(href="./img/spriteSvg.svg#svg-add")

					.cards-counter 4 / 12
		
		
		article.economy-republic.sticky-menu-section#economy-republic
			.container
				.h2 Заявка на сопровождение инвестиционного проекта
				p Если Вы начинаете реализацию инвестиционного проекта на территории Нижегородской области, Вы можете подать заявку на сопровождение инвестиционного проекта в соответствии с Регламентом сопровождения инвестпроектов, отслеживать статус поданной заявки и получить обратную связь от органов власти по результатам ее обработки.

				a(href="#!").btn-accent
					span Подать заявку
					svg.svg-folder
						use(href="./img/spriteSvg.svg#svg-folder")