.documents-page-content
	.sticky-menu
		.container
			ul#sticky-menu
				li
					a(href="#state-support").active Господдержка
				li
					a(href="#antitrust") Антимонопольный комплаенс
				li
					a(href="#normative") Нормативные документы
				li
					a(href="#economy-republic") Экономика республики

	section.documents
		article.state-support.sticky-menu-section#state-support
			.container
				.h2 Господдержка
				.download-cards-wrapper
					+download-card('О государственной программе Республики Северная Осетия-Алания «Поддержка и развитие малого, среднего предпринимательства и инвестиционной деятельности в Республике Северная Осетия-Алания» на 2020-2024 годы', 'pdf')
					+download-card('Постановление Правительства РФ от 15 апреля 2014 г. N 309 "Об утверждении государственной программы Российской Федерации "Развитие Северо-Кавказского федерального округа"', 'pdf')
		
		
		//===== Антимонопольный комплаенс ======
		article.antitrust.sticky-menu-section#antitrust
			.container
				.h2 Антимонопольный комплаенс
				.download-cards-wrapper
					+download-card('Приказ АО КИР РСО-А N49 от 27.12.2018')
					+download-card('Положение об организации системы внутреннего обеспечения соответствия требованиям антимонопольного законодательства в акционерном обществе «Корпорация инвестиционного развития Республики Северная Осетия-Алания»')
					+download-card('Письмо Минэкономразвития РСО-А 38.1740 от 05.12.2018')
					+download-card('Указ Президента РФ от 21.12.2017г. №618 Об основных направлениях государственной политики по развитию конкуренции')
					+download-card('Распоряжение Правительства РСО-Алания от 04.09.2018г. №295-р О мерах по организации системы внутреннего обеспеченияя соответствия требованиям антимонопольного законодательства деятельности органов исполнительной власти РСО-А')


		//========Нормативные документы========		
		article.normative.sticky-menu-section#normative
			.container
				.h2 Нормативные документы
				.download-cards-wrapper
					+download-card('Годовой отчет за 2022г.', 'pdf')
					+download-card('Годовой отчет АО КИР за 2021.', 'pdf')
					+download-card('Аудиторское заключение за 2020 г.')
					+download-card('Годовой отчет КИР за 2020 г.')
					+download-card('Аудиторское заключение независимого аудитора за 2019г.')
					+download-card('Указ Главы Республики Северная Осетия-Алания от 22 февраля 2017 г. N 39 О порядке принятия решения о предоставлении юридическим лицам земельных участков в аренду без проведения торгов', 'pdf')
					+download-card('Закон Республики Северная Осетия-Алания от 15 апреля 2000 г. N 8-РЗ Об инвестиционной деятельности в Республике Северная Осетия-Алания')
					+download-card('Приложение к распоряжению № 115-р итоги СЭР РСО-А 2019')
		
		//========Экономика республики========
		article.economy-republic.sticky-menu-section#economy-republic
			.container
				.h2 Экономика республики
				
				.economy-republic__block
					.h3 Экономика районов
					.double-block
						//=====card======
						a(href="#!").download-card
							img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
							p Пригородный район
							span .pdf
							svg.svg-downl
								use(href="./img/spriteSvg.svg#svg-downl")
						//=====card======
						a(href="#!").download-card
							img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
							p Ирафский район
							span .pdf
							svg.svg-downl
								use(href="./img/spriteSvg.svg#svg-downl")

						//=====card======
						a(href="#!").download-card
							img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
							p Дигорский район
							span .pdf
							svg.svg-downl
								use(href="./img/spriteSvg.svg#svg-downl")
						//=====card======
						a(href="#!").download-card
							img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
							p Моздокский район
							span .pdf
							svg.svg-downl
								use(href="./img/spriteSvg.svg#svg-downl")

						//=====card======
						a(href="#!").download-card
							img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
							p Ардонский район
							span .pdf
							svg.svg-downl
								use(href="./img/spriteSvg.svg#svg-downl")
						//=====card======
						a(href="#!").download-card
							img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
							p Кировский район
							span .pdf
							svg.svg-downl
								use(href="./img/spriteSvg.svg#svg-downl")

						//=====card======
						a(href="#!").download-card
							img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
							p Владикавказ
							span .pdf
							svg.svg-downl
								use(href="./img/spriteSvg.svg#svg-downl")
						//=====card======
						a(href="#!").download-card
							img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
							p Правобережный район
							span .pdf
							svg.svg-downl
								use(href="./img/spriteSvg.svg#svg-downl")
						//=====card======
						a(href="#!").download-card
							img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
							p Алагирский район
							span .pdf
							svg.svg-downl
								use(href="./img/spriteSvg.svg#svg-downl")

				//========Природные ресурсы РСО-А =======
				.economy-republic__block
					.h3 Природные ресурсы РСО-А
					.download-cards-wrapper

						+download-card('Нераспределенный фонд РСО-А_1.')
						+download-card('Минеральные воды РСО-А (бальнеологические группы)_1.')
						+download-card('Месторождения минеральных вод РСО-А_1.')
						+download-card('Лечебно-оздоровительные местности РСО-А (1).')
						

				//========Доступная инфраструктура =======
				.economy-republic__block
					.h3 Доступная инфраструктура для размещения производственных и иных объектов инвесторов
					.download-cards-wrapper
						+download-card('Отчет о деятельности Бизнес инкубатора ИТ-парк Алания за 2015 год', 'pdf')
						+download-card('Отчет ГБУ Бизнес-инкубатор ИТ Парк Алания за 2014 год', 'pdf')
						+download-card('Справка Министерства туризма, предпринимательства и инвестиционной политики РСО-Алания по Бизнес инкубатору', 'pdf')