//===== footer======
footer.footer#footer
	.footer-top
		.footer-logo
			a(href="index.html").logo.fly-center
				img(src="./img/logo.webp", width="75" height="75" alt="logo")
				p Инвестиционный портал РСО&#8209;Алания
			.btn-wrapper
				button(type="button").btn-accent
					span Подписаться на новости
					svg.svg-plus
						use(href="../img/spriteSvg.svg#svg-mail")
		
		.footer-menu
			//==== один список меню ====
			.footer-menu-list
				label.pos-rel
					.footer-menu__title О регионе
					input.help-input(type="checkbox" )
					.footer-menu__ul
						ul
							li
								a(href="#!") Общая информация
							li
								a(href="#!") Правительство РСО-Алания
							li
								a(href="#!") Стратегия развития
							li
								a(href="#!") Основные отрасли экономики
							li
								a(href="#!") Муниципалитеты
							li
								a(href="#!") Международное сотрудничество
							li
								a(href="#!") Медиа
			
			//==== один список меню ====
			.footer-menu-list
				label.pos-rel
					.footer-menu__title Инвестиционный климат
					input.help-input(type="checkbox" )
					.footer-menu__ul
						ul
							li
								a(href="#!") Экспертам АСИ
							li
								a(href="#!") Почему РСО-Алания?
							li
								a(href="#!") Инвестиционный стандарт
							li
								a(href="#!") Законодательство и документы
							li
								a(href="#!") Инвестиционная инфраструктура
							li
								a(href="#!") Инвестиционные проекты
							li
								a(href="#!") Часто задаваемые вопросы

			//==== один список меню ====
			.footer-menu-list
				
				label.pos-rel
					.footer-menu__title Для бизнеса
					input.help-input(type="checkbox" )
					.footer-menu__ul
						ul
							li
								a(href="#!") Корпорация развития РСО-Алания
							li
								a(href="#!") Институты поддержки бизнеса и инвесторов
							li
								a(href="#!") Статус приоритетного инвестиционного проекта
							li
								a(href="#!") Меры поддержки
							li
								a(href="#!") Государственно-частное партнерство
							li
								a(href="#!") Полезные ресурсы для бизнеса
			
			//==== один список меню ====
			.footer-menu-list
				.footer-menu__ul
					ul
						li
							a(href="#!") Команда региона
						li
							a(href="#!") Новости и события
						li
							a(href="#!") Контакты
						li
							a(href="#!") Кабинет инвестора
							svg.svg-user
								use(href="./img/spriteSvg.svg#svg-user")
	//======== footer bottom =============
	.footer-bottom
		.container
			.footer-bottom__content
				.footer-bottom__logo
					img(src="./img/logo_footer.png", alt="logo")
				.footer-bottom__column
					.footer-contacts
						.opening-hours
							ul
								li Пн-Пт с 09:00 до 18:00,
								li Сб с 10:00 до 15:30, Вс- выходной
							a(href="mailto:help.cyberstore@gmail.com").light-link help.cyberstore@gmail.com
					
					.footer-phone
						a(href="tel:+38 (093) 124-45-01") +38 (093) 124-45-01
						a(href="tel:+38 (066) 124-45-02") +38 (066) 124-45-02
					
						button.outline-button Заказать звонок

	//====== footer copyright ===========
	.footer-copyright
		.container
			.footer-copyright__content
				p CyberStore - Демонстрация шаблона © 2023
				.social-block
					a(href="#!")
						svg.svg-tg
							use(href="./img/svgSprite.svg#svg-tg")
					a(href="#!")
						svg.svg-tg
							use(href="./img/svgSprite.svg#svg-tg")
					a(href="#!")
						svg.svg-tg
							use(href="./img/svgSprite.svg#svg-tg")
					a(href="#!")
						svg.svg-tg
							use(href="./img/svgSprite.svg#svg-tg")


