//===== footer======
footer.footer#footer
	.footer-top
		.footer-logo
			a(href="index.html").logo.fly-center
				img(src="./img/logo.webp", width="75" height="75" alt="logo")
				p Инвестиционный<br> портал РСО&#8209;Алания
			.btn-wrapper
				button(type="button").btn-accent
					span Подписаться на новости
					svg.svg-plus
						use(href="./img/spriteSvg.svg#svg-mail")
		
		.footer-menu
			//==== один список меню ====
			.footer-menu-list
				label.pos-rel
					
					input.help-input(type="checkbox" )
					.footer-menu__title О регионе
					.footer-menu__ul
						ul
							li
								a(href="#!") Общая информация
							li
								a(href="#!") Правительство РСО-Алания
							li
								a(href="#!") Стратегия развития
							li
								a(href="#!") Основные отрасли экономики
							li
								a(href="#!") Муниципалитеты
							li
								a(href="#!") Международное сотрудничество
							li
								a(href="#!") Медиа
			
			//==== один список меню ====
			.footer-menu-list
				label.pos-rel
					
					input.help-input(type="checkbox" )
					.footer-menu__title Инвестиционный климат
					.footer-menu__ul
						ul
							li
								a(href="#!") Экспертам АСИ
							li
								a(href="#!") Почему РСО-Алания?
							li
								a(href="#!") Инвестиционный стандарт
							li
								a(href="#!") Законодательство и документы
							li
								a(href="#!") Инвестиционная инфраструктура
							li
								a(href="#!") Инвестиционные проекты
							li
								a(href="#!") Часто задаваемые вопросы

			//==== один список меню ====
			.footer-menu-list
				
				label.pos-rel
					
					input.help-input(type="checkbox" )
					.footer-menu__title Для бизнеса
					.footer-menu__ul
						ul
							li
								a(href="#!") Корпорация развития РСО-Алания
							li
								a(href="#!") Институты поддержки бизнеса и инвесторов
							li
								a(href="#!") Статус приоритетного инвестиционного проекта
							li
								a(href="#!") Меры поддержки
							li
								a(href="#!") Государственно-частное партнерство
							li
								a(href="#!") Полезные ресурсы для бизнеса
			
			//==== один список меню ====
			.footer-menu-list
				.footer-menu__ul
					ul
						li
							a(href="#!") Команда региона
						li
							a(href="news.html") Новости и события
						li
							a(href="#!") Контакты
						li
							a(href="#!") Кабинет инвестора
							svg.svg-user
								use(href="./img/spriteSvg.svg#svg-user")
	
	//====== footer copyright ===========
	.footer-contacts.fly-center
		.footer-contacts__row.fly-center
			p.flex-link
				svg.svg-pin
					use(href="./img/spriteSvg.svg#svg-pin")
				span 362000, г. Владикавказ, РСО-Алания улица Шмулевича, д. 8/Б Офис: 106
			
			a(href="mailto:alania-invest@mail.ru").flex-link
				svg.svg-mail
					use(href="./img/spriteSvg.svg#svg-mail")
				span alania-invest@mail.ru
			
			a(href="tel:+78672700140").flex-link
				svg.svg-call
					use(href="./img/spriteSvg.svg#svg-call")
				span +7 (8672) 70-01-40		
		
		.social-group.fly-center
			//=== single item ===
			a(href="#!").social-group__item.fl-center
				img(src="./img/icons/vk.webp", width="23" alt="img")

			//=== single item ===
			a(href="#!").social-group__item.fl-center
				img(src="./img/icons/tg.webp", width="19" alt="img")

			//=== single item ===
			a(href="#!").social-group__item.fl-center
				img(src="./img/icons/rutube.webp", width="19" alt="img")
	
	
	//======== footer bottom =============
	.footer-bottom.fly-center
		p &copy; 2023 АО «Корпорация развития РСО-Алания». Все права защищены
		a(href="#!").link-medium Политика обработки персональных данных
		


