.header-slider-wrapper
	.header-slider__decore
		img(src="./img/header-decore.svg", alt="img")
	.header-slider.owl-carousel
		.header-slider__item
			img(src="./img/header-bg1.webp", alt="img")
		.header-slider__item
			img(src="./img/header-bg1.webp", alt="img")
		.header-slider__item
			img(src="./img/header-bg1.webp", alt="img")
		.header-slider__item
			img(src="./img/header-bg1.webp", alt="img")