//=======invest projects =======
section.invest-projects
	.container
		h2.h2 Инвестиционные проекты реализуемые на территории республики
		//======= слайдер на экранах от 768 и выше  =======
		.visible-768
			.invest-projects-slider.owl-carousel
				//=== single-slide ====
				.invest-projects__slide
					//===============
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo1.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p ООО «А.РАЙМОНД РУС»(Франция)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
					//==================
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo2.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p РБПИ ГРУПП (Норвегия)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
				.invest-projects__slide
					//===============
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo3.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p Бохимический холдинг «ОРГХИМ»(Россия)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
					//==================
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo4.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p ООО «ГРАНД-НН»(Россия)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
				.invest-projects__slide
					//===============
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo5.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p ООО «ХОМА АДГЕЗИВ»(Россия)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
					//==================
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo6.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p ООО «Ателье Гончарова»(Россия)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
				.invest-projects__slide
					//===============
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo1.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p ООО «А.РАЙМОНД РУС»(Франция)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
					//==================
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo2.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p ООО «А.РАЙМОНД РУС»(Франция)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
				.invest-projects__slide
					//===============
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo3.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p ООО «А.РАЙМОНД РУС»(Франция)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")
					//==================
					.project-card
						.project-card__img
							img.lazy(src="./img/brend-logo4.webp", width="245" height="101" alt="logo")
						.project-card__footer.fly-center
							p ООО «А.РАЙМОНД РУС»(Франция)
							a(href="#!").project-card__link
								svg.svg-link
									use(href="./img/spriteSvg.svg#svg-link")

		//======= слайдер на моб версии =======
		.visible-mobile
			.invest-projects-slider.owl-carousel
				//=== single-slide ====
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo1.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p ООО «А.РАЙМОНД РУС»(Франция)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
				//==================
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo2.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p РБПИ ГРУПП (Норвегия)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
		
				//===============
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo3.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p Бохимический холдинг «ОРГХИМ»(Россия)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
				//==================
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo4.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p ООО «ГРАНД-НН»(Россия)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
			
				//===============
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo5.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p ООО «ХОМА АДГЕЗИВ»(Россия)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
				//==================
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo6.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p ООО «Ателье Гончарова»(Россия)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
			
				//===============
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo1.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p ООО «А.РАЙМОНД РУС»(Франция)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
				//==================
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo2.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p ООО «А.РАЙМОНД РУС»(Франция)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
			
				//===============
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo3.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p ООО «А.РАЙМОНД РУС»(Франция)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
				//==================
				.project-card
					.project-card__img
						img.lazy(src="./img/brend-logo4.webp", width="245" height="101" alt="logo")
					.project-card__footer.fly-center
						p ООО «А.РАЙМОНД РУС»(Франция)
						a(href="#!").project-card__link
							svg.svg-link
								use(href="./img/spriteSvg.svg#svg-link")
			
		//======== button ==========
		.btn-wrapper
			a(href="#!").btn-accent
				span Все проекты
				svg.svg-plus
					use(href="./img/spriteSvg.svg#svg-plus")