.main-menu
	.main-menu-logo.fly-center
		a(href="index.html").logo.fly-center
			img(src="./img/logo.webp", width="75" height="75" alt="logo")
			p Инвестиционный портал РСО&#8209;Алания
	
	//===== main-menu-list====
	.main-menu-list#main-menu-list
		
		.main-menu-item
			a(href="#!").main-menu-link О регионе
				svg.svg-down
					use(href="./img/spriteSvg.svg#svg-down")
			
			.main-menu__sub
				a(href="#!") Экспертам АСИ
				a(href="#!") Почему РСО-Алания?
				a(href="#!") Инвестиционный стандарт
				a(href="#!") Законодательство и документы
				a(href="#!") Инвестиционная инфраструктура
				a(href="#!") Инвестиционные проекты
				a(href="#!") Часто задаваемые вопросы
		
		
		.main-menu-item
			a(href="#!").main-menu-link Инвестиционный климат
				svg.svg-down
					use(href="./img/spriteSvg.svg#svg-down")
			.main-menu__sub
				a(href="#!") Экспертам АСИ
				a(href="#!") Почему РСО-Алания?
				a(href="#!") Инвестиционный стандарт
				a(href="#!") Законодательство и документы
				a(href="#!") Инвестиционная инфраструктура
				a(href="#!") Инвестиционные проекты
				a(href="#!") Часто задаваемые вопросы
		.main-menu-item
			a(href="#!").main-menu-link Для бизнеса
		.main-menu-item
			a(href="#!").main-menu-link Команда региона
		.main-menu-item
			a(href="#!").main-menu-link Новости и события
		.main-menu-item
			a(href="#!").main-menu-link Кабинет инвестора
				svg.svg-user
					use(href="./img/spriteSvg.svg#svg-user")
		.main-menu-item
			a(href="#!").main-menu-link Инвестиционная карта
