//====menu-sidebar ======
.sidebar#header-menu
	.main-menu
		.main-menu-logo
			a(href="index.html").logo.fly-center
				img.lazy(src="./img/logo.webp", width="75" height="75" alt="logo")
				p Инвестиционный портал РСО&#8209;Алания
			//===burger for mob menu ===
			.menu-toggle#menu-toggle
				span
		.main-menu__block.fl-column
			//===== main-menu-list====
			.main-menu-list#main-menu-list
				
				//===добавление класса open  элементу main-menu-item делает видимым подменю .main-menu__sub ======
				.main-menu-item.open
					a(href="#!").main-menu-link О регионе
						svg.svg-down
							use(href="./img/spriteSvg.svg#svg-down")
					
					.main-menu__sub
						a(href="#!") Экспертам АСИ
						a(href="#!") Почему РСО-Алания?
						a(href="#!") Инвестиционный стандарт
						a(href="#!") Законодательство и документы
						a(href="#!") Инвестиционная инфраструктура
						a(href="#!") Инвестиционные проекты
						a(href="#!") Часто задаваемые вопросы
				
				
				.main-menu-item
					a(href="#!").main-menu-link Инвестиционный климат
						svg.svg-down
							use(href="./img/spriteSvg.svg#svg-down")
					.main-menu__sub
						a(href="#!") Экспертам АСИ
						a(href="#!") Почему РСО-Алания?
						a(href="#!") Инвестиционный стандарт
						a(href="#!") Законодательство и документы
						a(href="#!") Инвестиционная инфраструктура
						a(href="#!") Инвестиционные проекты
						a(href="#!") Часто задаваемые вопросы
				.main-menu-item
					a(href="#!").main-menu-link Для бизнеса
				.main-menu-item
					a(href="#!").main-menu-link Команда региона
				.main-menu-item
					a(href="news.html").main-menu-link Новости и события
				.main-menu-item
					a(href="#!").main-menu-link Кабинет инвестора
						svg.svg-user
							use(href="./img/spriteSvg.svg#svg-user")
				.main-menu-item
					a(href="#!").main-menu-link Инвестиционная карта

			//===== main-menu-contacts ====
			.main-menu-footer
				//==== search form =====
				form(role="search" method="get" action="" ).search-form
					.form-item.form-item--search
						input.form-input(type="text" placeholder="Найти...")
						button(type="submit").flx-center
							svg.svg-search
								use(href="./img/spriteSvg.svg#svg-search")
				
				//==== tel =====
				.call-center
					p Круглосуточная линия поддержки инвесторов:
					a(href="tel:+78672700140") +7 (8672) 70-01-40
				
				//==== social + lang =====
				.main-menu__row.fly-center
					.social-group.fly-center
						//=== single item ===
						a(href="#!").social-group__item.fl-center
							img.lazy(src="./img/icons/vk.webp", width="23" alt="img")

						//=== single item ===
						a(href="#!").social-group__item.fl-center
							img.lazy(src="./img/icons/tg.webp", width="19" alt="img")

						//=== single item ===
						a(href="#!").social-group__item.fl-center
							img.lazy(src="./img/icons/rutube.webp", width="19" alt="img")

					
					.lang-group.fly-center
						//==== у активного языка добавляем класс active
						a(href="#!").lang-group__item.fl-center.active
							span RU

						a(href="#!").lang-group__item.fl-center
							span EN

						a(href="#!").lang-group__item.fl-center
							span CH

						a(href="#!").lang-group__item.fl-center
							span ES