section.support-measures
	.container
		.h2 Меры поддержки
		.support-measures__text.body-3
			p Северная Осетия-Алания – территория активного экономического развития России, которая является привлекательной для инвесторов благодаря ряду конкурентных преимуществ.
			p Среди них – одна из наиболее прогрессивных на территории России инвестиционных законодательных баз, гарантирующая соблюдение прав инвестора. Создана материальная, организационная и информационная инфраструктура для исполнения этого законодательства. Кроме того, проведена работа по его гармонизации с федеральными законами.
			p Для инвесторов и предпринимателей в РСО-Алания предусмотрена целая система финансовых мер поддержки и преференций, которые позволяют снизить затраты при реализации проекта. Кроме того, в части налоговых послаблений в РСО-Алания предоставляются максимально допустимые законодательством Российской Федерации льготы.
		.download-cards-wrapper
			+download-card('Каталог мер государственной поддержки инвестиционной деятельности в РСО-Алания', 'pdf')
			

	//====== региональные меры ===============
	article.regional-measures#regional-measures
		.container
			.regional-measures__block
				.h3 Региональные меры поддержки
				.support-measures-acor
					.acor-container
						//=========== single block =============
						.acor-item
							input#acorA(type='checkbox' name='acor' )
							label(for='acorA').body-3 Приоритетный инвестиционный проект РСО-Алания
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет
								
								h4  Условия получения статуса резидента ТОР:
								p #[strong ТОР «Саров»:]
								ul
									li Не менее 5 млн руб. инвестиций в проект
									li Соответствие установленным видам экономической деятельности

								p #[strong ТОР «Володарск» и «Решетиха»:]
								ul
									li Не менее 2,5 млн руб. инвестиций в первый год реализации проекта
									li Не менее 10 новых рабочих мест в рамках проекта
									li Соответствие установленным видам экономической деятельности
									
								h4 Предоставление осуществляет:
								p #[strong Контактное лицо ТОР «Саров»:]
								ul
									li Сысоева Анна Валерьевна
									li Директор департамента экономического развития
									li +7 (83160) 4-23-41
									li official@adm.chk.nnov.ru
								
								p #[strong Контактное лицо ТОР «Володарск» и «Решетиха»:]
								ul
									li Захаров Александр Борисович
									li Первый заместитель главы администрации района, начальник управления строительства и ЖКХ
									li +7 (83136) 4-09-79
									li official@adm.vld.nnov.ru

								h4 Нормативно-правовая база:
								
								+download-card('Федеральный закон от 29.12.2014 № 473-ФЗ «О территориях опережающего развития в Российской Федерации»', 'pdf')
								+download-card('Постановление Правительства Российской Федерации от 20.04.2017 № 481 «О создании территории опережающего развития «Саров»', 'pdf')
								+download-card('Постановление Правительства Российской Федерации от 12.02.2019 № 128 «О создании территории опережающего развития «Решетиха»', 'pdf')
								
						//=========== single block =============
						.acor-item
							input#acorB(type='checkbox' name='acor' )
							label(for='acorB').body-3 Региональные преференциальные зоны ведения бизнеса – территории опережающего развития (ТОР) (г. Саров, г. Володарск, р.п. Решетиха)
							
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет
								
								h4  Условия получения статуса резидента ТОР:
								p #[strong ТОР «Саров»:]
								ul
									li Не менее 5 млн руб. инвестиций в проект
									li Соответствие установленным видам экономической деятельности

								p #[strong ТОР «Володарск» и «Решетиха»:]
								ul
									li Не менее 2,5 млн руб. инвестиций в первый год реализации проекта
									li Не менее 10 новых рабочих мест в рамках проекта
									li Соответствие установленным видам экономической деятельности
									
								h4 Предоставление осуществляет:
								p #[strong Контактное лицо ТОР «Саров»:]
								ul
									li Сысоева Анна Валерьевна
									li Директор департамента экономического развития
									li +7 (83160) 4-23-41
									li official@adm.chk.nnov.ru
								
								p #[strong Контактное лицо ТОР «Володарск» и «Решетиха»:]
								ul
									li Захаров Александр Борисович
									li Первый заместитель главы администрации района, начальник управления строительства и ЖКХ
									li +7 (83136) 4-09-79
									li official@adm.vld.nnov.ru

								h4 Нормативно-правовая база:
								
								+download-card('Федеральный закон от 29.12.2014 № 473-ФЗ «О территориях опережающего развития в Российской Федерации»', 'pdf')
								+download-card('Постановление Правительства Российской Федерации от 20.04.2017 № 481 «О создании территории опережающего развития «Саров»', 'pdf')
								+download-card('Постановление Правительства Российской Федерации от 12.02.2019 № 128 «О создании территории опережающего развития «Решетиха»', 'pdf')

			//================= Неналоговые меры ================
			.regional-measures__block
				.icon-title
					.icon-title__svg
						svg.svg-book
							use(href="./img/spriteSvg.svg#svg-book")
					.title-24 Неналоговые меры поддержки промышленности:
				.support-measures-acor
					.acor-container
						//=========== single block =============
						.acor-item
							input#acorC(type='checkbox' name='acor' )
							label(for='acorC').body-3 Субсидирование части затрат на уплату процентов по кредитам промышленных и научных организаций
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет
								
								h4  Условия получения статуса резидента ТОР:
								p #[strong ТОР «Саров»:]
								ul
									li Не менее 5 млн руб. инвестиций в проект
									li Соответствие установленным видам экономической деятельности

								p #[strong ТОР «Володарск» и «Решетиха»:]
								ul
									li Не менее 2,5 млн руб. инвестиций в первый год реализации проекта
									li Не менее 10 новых рабочих мест в рамках проекта
									li Соответствие установленным видам экономической деятельности
									
								h4 Предоставление осуществляет:
								p #[strong Контактное лицо ТОР «Саров»:]
								ul
									li Сысоева Анна Валерьевна
									li Директор департамента экономического развития
									li +7 (83160) 4-23-41
									li official@adm.chk.nnov.ru
								
								p #[strong Контактное лицо ТОР «Володарск» и «Решетиха»:]
								ul
									li Захаров Александр Борисович
									li Первый заместитель главы администрации района, начальник управления строительства и ЖКХ
									li +7 (83136) 4-09-79
									li official@adm.vld.nnov.ru

								h4 Нормативно-правовая база:
								
								+download-card('Федеральный закон от 29.12.2014 № 473-ФЗ «О территориях опережающего развития в Российской Федерации»', 'pdf')
								+download-card('Постановление Правительства Российской Федерации от 20.04.2017 № 481 «О создании территории опережающего развития «Саров»', 'pdf')
								+download-card('Постановление Правительства Российской Федерации от 12.02.2019 № 128 «О создании территории опережающего развития «Решетиха»', 'pdf')

			//================= Меры поддержки предприятий легкой промышленности ================
			.regional-measures__block
				.icon-title
					.icon-title__svg
						svg.svg-book
							use(href="./img/spriteSvg.svg#svg-book")
					.title-24 Меры поддержки предприятий легкой промышленности:
				.support-measures-acor
					.acor-container
						//=========== single block =============
						.acor-item
							input#acorD(type='checkbox' name='acor' )
							label(for='acorD').body-3 Субсидирование предприятиям легкой промышленности части затрат на продвижение отечественной продукции на электронных торговых площадках и на оплату услуг по созданию собственного интернет-магазина
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет
								
								h4  Условия получения статуса резидента ТОР:
								p #[strong ТОР «Саров»:]
								ul
									li Не менее 5 млн руб. инвестиций в проект
									li Соответствие установленным видам экономической деятельности


			//================= Меры поддержки предприятий агропромышленного комплекса: ================
			.regional-measures__block
				.icon-title
					.icon-title__svg
						svg.svg-book
							use(href="./img/spriteSvg.svg#svg-book")
					.title-24 Меры поддержки предприятий агропромышленного комплекса:
				.support-measures-acor
					.acor-container
						//=========== single block =============
						.acor-item
							input#acorE(type='checkbox' name='acor' )
							label(for='acorE').body-3 Действующий комплекс мер поддержки
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет
								
								h4  Условия получения статуса резидента ТОР:
								p #[strong ТОР «Саров»:]
								ul
									li Не менее 5 млн руб. инвестиций в проект
									li Соответствие установленным видам экономической деятельности

			
	//====== Федеральные меры поддержки ===============
	article.regional-measures#federal-measures
		.container
			.regional-measures__block
				.h3 Федеральные меры поддержки
				.support-measures-acor
					.acor-container
						//=========== single block =============
						.acor-item
							input#acorJ(type='checkbox' name='acor' )
							label(for='acorJ').body-3 Специальный инвестиционный контракт (СПИК)*
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет
								
								h4  Условия получения статуса резидента ТОР:
								p #[strong ТОР «Саров»:]
								ul
									li Не менее 5 млн руб. инвестиций в проект
									li Соответствие установленным видам экономической деятельности

						//=========== single block =============
						.acor-item
							input#acorK(type='checkbox' name='acor' )
							label(for='acorK').body-3 Специальный инвестиционный контракт (СПИК 2.0.)
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет
						
						//=========== single block =============
						.acor-item
							input#acorL(type='checkbox' name='acor' )
							label(for='acorL').body-3 Статус резидента АО «Инновационный Научно-Технологический Центр «Квантовая» Долина»
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет		

						//=========== single block =============
						.acor-item
							input#acorM(type='checkbox' name='acor' )
							label(for='acorM').body-3 Соглашение о защите и поощрении капиталовложений в Российской Федерации (СЗПК)
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет			
			
			//================= Неналоговые меры ================
			.regional-measures__block
				.icon-title
					.icon-title__svg
						svg.svg-book
							use(href="./img/spriteSvg.svg#svg-book")
					.title-24 Неналоговые меры поддержки включают:
				.support-measures-acor
					.acor-container
						//=========== single block =============
						.acor-item
							input#acorN(type='checkbox' name='acor' )
							label(for='acorN').body-3 Субсидия на создание объектов инфраструктуры для реализации новых инвестиционных проектов (1704)
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет

						//=========== single block =============
						.acor-item
							input#acorO(type='checkbox' name='acor' )
							label(for='acorO').body-3 Корпоративная программа повышения конкурентоспособности
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет

						//=========== single block =============
						.acor-item
							input#acorP(type='checkbox' name='acor' )
							label(for='acorP').body-3 Субсидирование части затрат на уплату процентов по кредитам при реализации новых комплексных инвестиционных проектов в приоритетных отраслях гражданской промышленности
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет

						//=========== single block =============
						.acor-item
							input#acorR(type='checkbox' name='acor' )
							label(for='acorR').body-3 Субсидирование до 50% затрат на производство и реализацию пилотных партий средств производства
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет

						//=========== single block =============
						.acor-item
							input#acorS(type='checkbox' name='acor' )
							label(for='acorS').body-3 Субсидирование части затрат на транспортировку продукции
							.acor-body
								p #[strong Льготы, предлагаемые инвесторам:]
								ul
									li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
									li Налог на имущество: освобождение от уплаты
									li Земельный налог: освобождение от уплаты
									li Срок предоставления льгот: 10 лет
			
	//===== Совместная поддержка ==========
	article#joint-support
		.container
			.h3 Совместная поддержка федеральных и региональных институтов развития
			.support-measures-acor
				.acor-container
					//=========== single block =============
					.acor-item
						input#acorT(type='checkbox' name='acor' )
						label(for='acorT').body-3 Совместные программы фонда развития промышленности Российской Федерации и фонда развития промышленности и венчурных инвестиций РСО-Алания
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет
							
							h4  Условия получения статуса резидента ТОР:
							p #[strong ТОР «Саров»:]
							ul
								li Не менее 5 млн руб. инвестиций в проект
								li Соответствие установленным видам экономической деятельности

					//=========== single block =============
					.acor-item
						input#acorU(type='checkbox' name='acor' )
						label(for='acorU').body-3 Совместная программа льготного инвестиционного кредитования корпорации МСП и Банка России
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет

	//===== Дополнительные механизмы ==========
	article#additionally-support
		.container
			.h3 Дополнительные механизмы льготного финансирования
			.support-measures-acor
				.acor-container
					//=========== single block =============
					.acor-item
						input#acorV(type='checkbox' name='acor' )
						label(for='acorV').body-3 Лизинг
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет
							
							
					//=========== single block =============
					.acor-item
						input#acorU(type='checkbox' name='acor' )
						label(for='acorU').body-3 Облигационные займы
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет
					
	//===== Поддержка федеральных институтов развития ==========
	article#develop-institutions
		.container.gap-40
			.h3 Поддержка федеральных институтов развития
			.support-measures-acor
				.acor-container
					//=========== single block =============
					.acor-item
						input#acorW(type='checkbox' name='acor' )
						label(for='acorW').body-3 Фонд развития промышленности Российской Федерации
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет
							
					//=========== single block =============
					.acor-item
						input#acorX(type='checkbox' name='acor' )
						label(for='acorX').body-3 Программа льготного кредитования Минэкономразвития России совместно с АО «Корпорацией «МСП» («программа 1764»)
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет

					//=========== single block =============
					.acor-item
						input#acorY(type='checkbox' name='acor' )
						label(for='acorY').body-3 Гранты участникам нижегородского научно-образовательного центра (НОЦ)
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет

					//=========== single block =============
					.acor-item
						input#acorZ(type='checkbox' name='acor' )
						label(for='acorZ').body-3 Льготное кредитование и поручительство субъектов МСП со стороны АНО «Агентство по развитию системы гарантий и микрокредитная компания для субъектов малого и среднего предпринимательства РСО-Алания»
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет
					
					//=========== single block =============
					.acor-item
						input#acorAB(type='checkbox' name='acor' )
						label(for='acorAB').body-3 Гранты ФГБУ «Фонд содействия развитию малых форм предприятий в научно-технической сфере»
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет

	//===== Нефинансовые меры поддержки ==========
	article#non-financial
		.container
			.h3 Нефинансовые меры поддержки
			.support-measures-acor
				.acor-container
					//=========== single block =============
					.acor-item
						input#acorAC(type='checkbox' name='acor' )
						label(for='acorAC').body-3 Перечень нефинансовых мер поддержки
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет

	//===== Нормативы ==========
	article#norms
		.container
			.h3 Законодательные и нормативные документы
			.support-measures-acor
				.acor-container
					//=========== single block =============
					.acor-item
						input#acorAD(type='checkbox' name='acor' )
						label(for='acorAD').body-3 Нормативная база
						.acor-body
							p #[strong Льготы, предлагаемые инвесторам:]
							ul
								li Налог на прибыль: снижение ставки в региональный бюджет до 5% на 5 лет, 10% – в течение последующих 5 лет
								li Налог на имущество: освобождение от уплаты
								li Земельный налог: освобождение от уплаты
								li Срок предоставления льгот: 10 лет
