article.supervisory
	.container
		.h3 Контрольно-надзорная деятельность
		img(src="./img/control-bg.webp", width="1120" alt="img")
		p Нижегородская область входит в число регионов-лидеров по реформе контрольно-надзорной деятельности (КНД), одна из целей которой – снижение административной нагрузки на бизнес:
		ul
			li Внедрение риск-ориентированного подхода к деятельности контрольных органов и развитие профилактики правонарушений
			li Совершенствование системы муниципального контроля
			li Тесное сотрудничество с бизнес-омбудсменом и объединениями предпринимателей – ТПП, НАПП, Деловая Россия, Опора России
			li Формы совместной работы – рабочая группа по вопросам реализации на территории Нижегородской области Федерального закона от 31.07.2020 № 248-ФЗ «О государственном контроле (надзоре) и муниципальном контроле в Российской Федерации», экспертная оценка выполнения целевой модели по КНД, встречи, публичные обсуждения и обмен мнениями
article.special-project
	.container
		.h3 Особая экономическая зона промышленно-производственного типа «Кулибин»
		
		.special-project__block.fl-block 
			img(src="./img/image-bg.webp", width="545" height="348"  alt="img")
			.single-column
				
				//===info card ====
				.info-card.fl-block.body-3
					svg.svg-folder
						use(href="./img/spriteSvg.svg#svg-folder")
					.info-card__text
						.txt-upper Отрасль
						.txt-semi Преференциальные территории

				//===info card ====
				.info-card.fl-block.body-3
					svg.svg-pin
						use(href="./img/spriteSvg.svg#svg-pin")
					.info-card__text
						.txt-upper Район
						.txt-semi г.о.г.Дзержинск
		
		//==== project description======
		.special-project__block
			.title-24 Описание проекта
			p Особая экономическая зона промышленно-производственного типа «Кулибин» создана на территории муниципального образования г.о.г. Дзержинск Нижегородской области.
			
			h4 Специализация
			ul
				li Производство химических веществ и химических продуктов
				li Нефтехимия
				li Обрабатывающая промышленность
				li Логистика
				li Производство фармацевтической продукции и медицинского оборудования

			h4 Налоговые льготы для резидентов ОЭЗ
			ul
				li #[span Налог на прибыль:] федеральный бюджет – 2%, региональный бюджет – 0% (1-5 лет), 3% (6-10 лет), 12,5% (11-49 лет)
				li #[span Налог на имущество:] 0% на 10 лет
				li #[span Земельный налог:] 0% на 5 лет
				li #[span Транспортный налог:] 0% на 10 лет
				


		



