article.team
	.container
		.team-slider-wrapper
			.team-slider-col.fl-column
				.h3 Инвестиционная команда
				.team-slider-nav.fly-center
					.btn-left.team-slider-prev
						svg.chevron-left
							use(href="./img/spriteSvg.svg#chevron-left")
					.btn-right.team-slider-next
						svg.chevron-right
							use(href="./img/spriteSvg.svg#chevron-right")
			#team-counter
			.team-slider.owl-carousel
				
				.team-slide.foto-card
					.foto-card__text.fl-column
						.txt-semi Цаллагов Александр Сосланович
						p Помощник Главы Республики Северная Осетия-Алания - главный архитектор Республики Северная Осетия-Алания

						.body-6 Команда региона
					
					.foto-card__pic
						img(src="./img/team.webp", width="339" height="448" alt="foto")

				.team-slide.foto-card
					.foto-card__text.fl-column
						.txt-semi Бизиков Батраз Энверович
						p Первый заместитель Министра строительства и архитектуры РСО-Алания

						.body-6 Команда региона
					
					.foto-card__pic
						img(src="https://i.postimg.cc/43Tv1zSx/image.png", width="339" height="448" alt="foto")
				.team-slide.foto-card
					.foto-card__text.fl-column
						.txt-semi Цаллагов Александр Сосланович
						p Помощник Главы Республики Северная Осетия-Алания - главный архитектор Республики Северная Осетия-Алания

						.body-6 Команда региона
					
					.foto-card__pic
						img(src="./img/team.webp", width="339" height="448" alt="foto")