

*, *:after, *:before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
	color: $pr;
	font-family: $reg;
	font-size: 16px;
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
	@media (max-width: 767px) {
	  line-height: 1.4;
	}
}
.lock{
	overflow: hidden;
}
a,
a:hover {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
	outline: none;
	border: none;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
}

input[type="submit"] {
	padding: 0;
	cursor: pointer;
}

input[type="radio"],
input[type='checkbox'],
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.container{
	width: 1350px;
	margin-left: auto;
	margin-right: auto;
	@media(max-width:1919px){
		width: calc(100% - 100px);
	}
	@media(max-width:767px) {
		width: calc(100% - 60px);
	}
	@media(max-width:574px) {
		width: calc(100% - 30px);
	}
}
section{
	padding-top: 100px;
	padding-bottom: 100px;
	.h2 {margin-bottom: 40px;}
	@media (max-width: 767px) {
		padding-top: 60px;
		padding-bottom: 60px;
		.h2{margin-bottom: 20px;}
	}
}
 .fl-block,.fly-center,.fly-center, .fl-center, .fl-column{
	display: flex;
	
}
.flx-center,.fl-center{
	justify-content: center;
}
.fly-center,.fl-center{
	align-items: center;
}
.fl-column{
	flex-direction: column;
}
.mb-30{
	margin-bottom: 30px;
	@media (max-width: 767px) {
	  margin-bottom: 10px;
	}
}
.visible-mobile{
	display: none!important;
	@media (max-width: 767px) {
	display:block!important;
	}
}
.visible-768 {
	display: block !important;

	@media (max-width: 767px) {
		display: none !important;
	}
}
.page-grid{
	padding-left: 449px;
	position: relative;
	@media(max-width:1919px) {
		padding-left: 300px;
	}
	@media (max-width: 1199px) {
		padding-left: 0;
		padding-top: 70px;
	}	
	
}