svg{transition: .3s;}
.svg-plus, .svg-mail{
	width: 24px;
	height: 24px;
	fill: $pr;
}
.svg-search,
.svg-filter {
	width: 15px;
	height: 16px;
	fill: #5162FF;
}
.svg-call, .svg-pin, .svg-add, .svg-filter,.svg-reload,.svg-send{
	width: 20px;
	height: 20px;
	fill: #A9ADC6;
}

.svg-reload{
	fill: #767DA2;
}
.svg-add{
	fill:$pr1 ;
}
.svg-pin,.svg-mail,.svg-send {fill:white}
.chevron-left,.chevron-right{
	width: 10px;
	height: 18px;
	fill:$sec1;


}
.svg-prev, .svg-next{
	width: 9px;
	height: 18px;
	fill: $sec1;
}

.svg-cross{
   width: 14px;
   height: 14px;
   fill: $sec;
   cursor:pointer;
}
.svg-down{
	width: 14px;
	height: 8px;
	fill: $sec;
}
.svg-user {
	width: 18px;
	height: 18px;
	fill: $sec;
}

.social-group, .lang-group{
	
	column-gap:10px;
}
.lang-group{
	@media (max-width: 1199px) {
	  position: absolute;
	  left: 0;
	  top: 0;
	  padding: 10px 20px;
	  background-color: #fff;
	  z-index: 2;
	  border-bottom: 1px solid $sec2;
	  width: 100%;
	}
}
.social-group__item, .lang-group__item {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	flex-shrink: 0;
	background-color: $ac1;
	transition: .5s;
	&:hover{
		background-color: $sec;
	}
}
.lang-group__item{
	border: 1px solid $sec1;
	background-color: #fff;
	color:$sec1;
	font-weight: 700;
	font-family: $bold;
	font-size: 14px;
	&:hover{
		background-color: #fff;
		border: 1px solid $ac1;
		color: $ac1;
	}
	&.active{
		border: 1px solid $ac1 ;
		color: $ac1;
	}
}
.svg-link{
	width: 28px;
	height: 28px;
	fill:#E1E3EF;
	&:hover{
		fill: $ac1;
	}
}
/*========GAMBURGER======*/
.menu-toggle {
	display: none;
	z-index: 6;
	cursor: pointer;

	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 1px solid $sec1;
	position: relative;
	flex-shrink: 0;
	&:hover {
		opacity: .8;
	}
}

@media (max-width: 1199px) {
	.menu-toggle {
		display: flex;

	}
}

.menu-toggle span {
	position: relative;
	height: 2px;
	width: 22px;
	border-radius: 5px;
	background-color: $sec1;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.menu-toggle span:after,
.menu-toggle span:before {
	content: '';
	position: absolute;
	left: 0;
	height: 2px;
	background-color: $sec1;
	border-radius: 5px;
	right: 0;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.menu-toggle span:after {
	top: -6px;
}

.menu-toggle span:before {
	bottom: -6px;
}

.active.menu-toggle span {
	background-color: transparent !important;
}


.active.menu-toggle span:after {
	top: 0px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);

}

.active.menu-toggle span:before {
	bottom: 0px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);

}
.svg-folder{
	width: 38px;
	height: 37px;
	fill:#A9ADC6;
}
.svg-downl{
	width: 24px;
	height: 23px;
	fill: #A9ADC6;
}
.svg-target, .svg-fullscreen, .svg-userId.svg-userId,.svg-www{
	width: 28px;
	height: 28px;
	fill: $ac1;
}
.svg-user.svg-userId{height: 22px;}
.svg-www{height: 26px;}
.svg-up{
	width: 16px;
	height: 20px;
	fill: #fff;
}
.svg-cam{
	width: 24px;
	height: 16px;
	fill:#E30613;
}
.svg-check{
	width: 20px;
	height: 14px;
	fill: $ac1;
}
.svg-close, .icon-close{
	width: 16px;
	height: 16px;
	fill:$pr;
}
.icon-close{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M1.33364 15.3333C1.24601 15.3336 1.15919 15.3166 1.07818 15.2832C0.997171 15.2498 0.923576 15.2007 0.861638 15.1387C0.737545 15.0129 0.667969 14.8433 0.667969 14.6667C0.667969 14.49 0.737545 14.3204 0.861638 14.1947L14.195 0.861341C14.3202 0.736159 14.4899 0.665833 14.667 0.665833C14.844 0.665833 15.0138 0.736159 15.139 0.861341C15.2642 0.986523 15.3345 1.15631 15.3345 1.33334C15.3345 1.51038 15.2642 1.68016 15.139 1.80534L1.80564 15.1387C1.7437 15.2007 1.67011 15.2498 1.5891 15.2832C1.50809 15.3166 1.42127 15.3336 1.33364 15.3333Z' fill='%23192249'/%3e%3cpath d='M14.6669 15.3333C14.5792 15.3336 14.4924 15.3166 14.4114 15.2832C14.3304 15.2498 14.2568 15.2007 14.1949 15.1387L0.861524 1.80534C0.736342 1.68016 0.666016 1.51038 0.666016 1.33334C0.666016 1.15631 0.736342 0.986523 0.861524 0.861341C0.986707 0.736159 1.15649 0.665833 1.33352 0.665833C1.51056 0.665833 1.68034 0.736159 1.80552 0.861341L15.1389 14.1947C15.2629 14.3204 15.3325 14.49 15.3325 14.6667C15.3325 14.8433 15.2629 15.0129 15.1389 15.1387C15.0769 15.2007 15.0033 15.2498 14.9223 15.2832C14.8413 15.3166 14.7545 15.3336 14.6669 15.3333Z' fill='%23192249'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}
.svg-medical,
[class^="svg-benefit"]{
	width: 38px;
	height: 38px;
	fill:#A9ADC6;
}
.svg-benefit5{
	height: 29px;
}
[class^="svg-icon_"]{
	fill:#767DA2;
	width: 39px;
	height: 34px;
}
.svg-icon_2,.svg-icon_8{height: 34px;}
.svg-icon_11,
.svg-icon_5 {
	width: 34px;
}

.svg-right{
	width: 20px;
	height: 12px;
	fill:white;
}
.svg-list{
	width: 20px;
	height: 12px;
	fill: #767DA2;
}