.h1, .h2, .h3{
	font-family: $bold;
}
.h1{
	font-size: 54px;
	@media (max-width: 1439px) {
		font-size: 38px;
		line-height: 1.3;
	}
	// @media (max-width: 1199px) {
	// 	font-size: 38px;
	// 	line-height: 1.3;
	// }
	@media (max-width: 991px) {
		font-size: 34px;
		
	}
	@media (max-width: 767px) {
		font-size: 24px;
		
	}
	
	
}
.h2{
    font-size: 38px;
	@media (max-width: 1364px) {
		font-size: 32px;
	}
	
	@media (max-width: 991px) {
	  font-size: 26px;
	}	
	@media (max-width: 767px) {
		font-size: 18px;
	}


}
.h3{
	font-size: 30px;
	line-height: 1.2;
}
.txt-upper{text-transform: uppercase;}
.txt-medi{font-family: $medi; font-weight: 500;}
.txt-semi {
	font-family: $semi;
	font-weight: 600;
}
.link, .link-medium, .link-small{
	font-size: 16px;
	font-weight: 400;
	color: $ac3;
	position: relative;
	
	display: inline;
	transition:.3s;
	line-height: 1.4;
	&:after{
		content:'';
		height: 1px;
		left: 0;
		bottom: 2px;
		width: 100%;
		position: absolute;background-color: $ac3;
	}
	&:hover{
		color: $ac1;
		&:after{background-color: $ac1;}
		
	}
}
.body-3{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.4;
	@media (max-width: 1199px) {
	  font-size: 14px;
	}	
	@media (max-width: 767px) {
	  font-size: 12px;
	}
}

.link-medium{font-size: 14px;}
.link-small{font-size: 12px;}