.h1, .h2, .h3,.h4,.title-24,  h1, h2, h3, h4, h5, h6{
	font-family: $bold;
	font-weight: 700;
	color: $pr;
}
.h1, h1{
	font-size: 54px;
	@media (max-width: 1439px) {
		font-size: 38px;
		line-height: 1.3;
	}
	// @media (max-width: 1199px) {
	// 	font-size: 38px;
	// 	line-height: 1.3;
	// }
	@media (max-width: 991px) {
		font-size: 34px;
		
	}
	@media (max-width: 767px) {
		font-size: 24px;
		
	}
	
	
}
.h2, h2{
    font-size: 38px;
	@media (max-width: 1364px) {
		font-size: 32px;
	}
	
	@media (max-width: 991px) {
	  font-size: 26px;
	}	
	@media (max-width: 767px) {
		font-size: 18px;
	}


}
.h3, h3{
	font-size: 30px;
	line-height: 1.2;
	@media (max-width: 1599px) {font-size: 24px;}
	@media (max-width: 1439px) {font-size: 20px;}
	@media (max-width: 767px) {
	  font-size: 16px;
	  
	}
}
.title-24{
	font-size: 24px;
	line-height: 1.3;
	@media (max-width: 767px) {
	 font-size: 16px;
	 line-height: 1.4;
	}
}
.h4, h4{
	font-size: 18px;
	
}
.body-6{
	font-size: 12px;
	line-height: 1.4;
}
.txt-upper{text-transform: uppercase;}
.txt-bold{
	font-family: $bold;
		font-weight: 700;
}
.txt-medi{font-family: $medi; font-weight: 500;}
.txt-semi {
	font-family: $semi;
	font-weight: 600;
}
.txt-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.txt-primary{
	color: $pr;
}
.link, .link-medium, .link-small{
	font-size: 16px;
	font-weight: 400;
	color: $ac3;
	position: relative;
	
	display: inline;
	transition:.3s;
	line-height: 1.4;
	&:after{
		content:'';
		height: 1px;
		left: 0;
		bottom: 2px;
		width: 100%;
		position: absolute;background-color: $ac3;
	}
	&:hover{
		color: $ac1;
		&:after{background-color: $ac1;}
		
	}
}
.body-3{
	font-size: 18px;
	font-weight: 600;
	font-family: $semi;
	line-height: 1.4;
	@media (max-width: 1199px) {
	  font-size: 14px;
	}	
	
}

.link-medium{font-size: 14px;}
.link-small{font-size: 12px;}

.txt-accent{
	
	color: $sec;
	line-height: 1.4;
	padding-left: 20px;
	border-left: 2px solid $ac1;
	@media (max-width: 1199px) {
		
	}
	
}
.txt-warning{
	padding: 30px;
	padding-left: 86px;
	background-color: $sec4;
	border:1px solid $sec2;
	border-radius: 20px;
	color: $pr1;
	position: relative;
	&>*+*{margin-top: 10px;}
	&:after{
		content: '';
		position: absolute;
		top: 30px;
		left: 30px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38' fill='none'%3e%3cpath d='M18.9999 28.2799C18.5756 28.2799 18.1686 28.1113 17.8685 27.8112C17.5685 27.5112 17.3999 27.1042 17.3999 26.6799V17.7199C17.3999 17.2955 17.5685 16.8886 17.8685 16.5885C18.1686 16.2884 18.5756 16.1199 18.9999 16.1199C19.4242 16.1199 19.8312 16.2884 20.1313 16.5885C20.4313 16.8886 20.5999 17.2955 20.5999 17.7199V26.6799C20.5999 27.1042 20.4313 27.5112 20.1313 27.8112C19.8312 28.1113 19.4242 28.2799 18.9999 28.2799Z' fill='%235162FF'/%3e%3cpath d='M18.9999 13.6688C18.7898 13.6688 18.5817 13.6274 18.3876 13.547C18.1935 13.4666 18.0171 13.3487 17.8685 13.2001C17.72 13.0516 17.6021 12.8752 17.5217 12.6811C17.4413 12.4869 17.3999 12.2789 17.3999 12.0688V11.32C17.3999 10.8956 17.5685 10.4887 17.8685 10.1886C18.1686 9.88854 18.5756 9.71997 18.9999 9.71997C19.4242 9.71997 19.8312 9.88854 20.1313 10.1886C20.4313 10.4887 20.5999 10.8956 20.5999 11.32V12.0688C20.5999 12.2789 20.5585 12.4869 20.4781 12.6811C20.3977 12.8752 20.2798 13.0516 20.1313 13.2001C19.9827 13.3487 19.8063 13.4666 19.6122 13.547C19.4181 13.6274 19.21 13.6688 18.9999 13.6688V13.6688Z' fill='%235162FF'/%3e%3cpath d='M19.0001 37.8799C15.266 37.8799 11.6158 36.7726 8.51096 34.698C5.40616 32.6235 2.98626 29.6748 1.55728 26.2249C0.128298 22.7751 -0.245589 18.9789 0.4829 15.3166C1.21139 11.6542 3.00953 8.29012 5.64995 5.64971C8.29037 3.00929 11.6545 1.21114 15.3168 0.482655C18.9792 -0.245834 22.7753 0.128053 26.2252 1.55704C29.6751 2.98602 32.6237 5.40592 34.6983 8.51072C36.7728 11.6155 37.8801 15.2658 37.8801 18.9999C37.875 24.0056 35.8843 28.8049 32.3447 32.3444C28.8051 35.884 24.0059 37.8748 19.0001 37.8799V37.8799ZM19.0001 3.31988C15.8989 3.31988 12.8673 4.2395 10.2888 5.96244C7.71022 7.68538 5.70048 10.1343 4.51369 12.9994C3.32691 15.8646 3.0164 19.0173 3.62141 22.0589C4.22643 25.1005 5.7198 27.8944 7.91269 30.0873C10.1056 32.2802 12.8995 33.7736 15.9411 34.3786C18.9827 34.9836 22.1355 34.6731 25.0006 33.4863C27.8657 32.2995 30.3146 30.2898 32.0376 27.7112C33.7605 25.1327 34.6801 22.1011 34.6801 18.9999C34.675 14.8428 33.0214 10.8575 30.0819 7.91806C27.1425 4.97859 23.1572 3.32496 19.0001 3.31988V3.31988Z' fill='%235162FF'/%3e%3c/svg%3e");
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
	}
}