//- ===== colors ======
$ac1:#5162FF;
$ac2: #6776FF;
$ac3:#7477CC;
$ac4: #B2B9FF;
$ac5: #FFCC00;
$white:white;
$black:black;
$er: red;
$sec: #767DA1;
$sec1: #A9ADC6;
$sec2: #E1E3EF ;
$sec3: #EDEDED ;
$sec4: #F9F9FB ;
$pr:#192249 ;
$pr1: #212D64;


$reg: 'Manrope-Regular';
$medi: 'Roboto Medium';
$semi: 'Manrope-SemiBold';
$bold: 'Manrope-Bold';
