.btn-accent, .btn-outline, .btn{
	display: inline-flex;
	align-items: center;
	padding: 15px 30px;
	height: 54px;
	line-height: 1.4;
	border:1px solid $ac1;
	justify-content: center;
	transition: .5s;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 12px;
	background: $ac1;
	cursor:pointer;
	color: white;
	font-family: $semi;
	white-space: nowrap;
	svg{fill: #fff; width: 20px;height: 20px; flex-shrink:0;}
	.svg-link{width: 18px; height: 18px;}
	@media (max-width: 1199px) {
	  height: 46px;
	  font-size: 14px;
	  padding: 13px 20px 14px;
	  width: 100%;
	  max-width: 320px;;
	}
}
.btn-accent:hover{
	background-color: $ac2;
	border: 1px solid $ac2;
}
.btn-outline{
  background-color: #fff;
  color: $ac1;
  svg{fill:$ac1;}
  &:hover{
	color: $ac3;
	border: 1px solid $ac3;
	svg {fill: $ac3;}
  }
}
.btn{
	border: 1px solid $sec;
	background-color: #fff;
	color: $sec;
	svg {fill: $sec;}
	
	&:hover {color: $ac1;border: 1px solid $ac1;
		svg {fill: $ac1;}
	}
}
.btn-accent,
.btn-outline,
.btn{

	&.disable{
		cursor:default;
		pointer-events: none;
		opacity: .4;
	}
}
.btn-left, .btn-right{
	border-radius: 10px;
	border: 1px solid $sec1;
	width: 46px;
	height: 46px;
	cursor:pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
	
		&:hover {
			border-color: $ac1;
	
			svg {
				fill: $ac1;
			}
		}
}
.circle-button{
	width: 20px;
	height: 20px;
	border:1px solid $sec;
	background-color: #fff;
	border-radius: 50%;
	flex-shrink:0;
	&:hover{border: 1px solid $ac1;}
	&.active{
		position: relative;
		border: 1px solid $ac1;
		&:after{
			
			content:'';
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background-color: $ac1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}
}
.mini-btn{
	width: 54px;
	height: 54px;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	border:1px solid $sec;
	flex-shrink:0;
}
.btn-xs-short{
	
	@media (max-width: 767px) {
		width: 54px;
		height: 54px;
		
		span {display: none;
		}
	}
			
		
	
}