
.download-card{
	border-radius: 20px;
	border: 1px solid $sec2;
	padding: 24px 20px;
	column-gap:10px;
	transition: .3s;
	img, span, svg{flex-shrink: 0;}
	p{flex-grow: 4;}
	p,span {
		
		font-size: 16px;
		line-height: 1.4;
		color: $sec;
		font-family: $semi;
	}
	span{font-size: 14px;}
	@media (max-width: 991px) {
		padding: 12px 10px;
		border-radius: 10px;
		img{width: 31px; height: 31px;}
		svg{width: 20px; height: 20px;}
		span{display: none;}
		p{font-size: 12px;}
	}
	@media (max-width: 767px) {
		align-items: flex-start;
	}
	&:hover{
		border-color: $ac1;
		p, span{color: $ac1;	}
		svg{fill: $ac1;}
	}
}