input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
   box-shadow: 0 0 0px 1000px #fff inset;
}
.form-item{
  position: relative;
  .fake-placeholder{
    position: absolute;
    left: 16px;
    top:17px;
    color: $sec1;
    font-size: 16px;
    transition:.3s;
    pointer-events: none;
    b{color: $er;}
  }
  p{
    font-size: 12px;
    color: $sec1;
    line-height: 1.4;
    padding-left: 15px;
    &.error{color: $er;}
  }
}
input{
  display: block;
  width: 100%;
  height: 54px;
  font-size: 16px;
  color: $pr1;
  border-radius: 12px;
  border: 1px solid $sec2;
  background:white;
  padding-left: 16px;
  padding-right: 16px;
  &::placeholder {
      font-size: inherit;
      color: $sec1;
    }
 
}
.fake-placeholder + input{padding-top:17px;}
input.error{border: 1px solid $er;}
input.disable, input.disable~*{
  opacity: 0.3;
}

input.error ~ p {
 color: $er;
}
input.valid, input:focus{border: 1px solid $sec1;}

.fake-placeholder.active{
  top: 4px; font-size: 12px;
}
/* switch item*/
.switch-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap:12px;
  height: 20px;
  white-space: nowrap;
  cursor:pointer;
  input {
    width: 0.01px;
    height: 0.01px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .switch-item__toggle{
    position: relative;
    height: 24px;
  }
  span {
    display: inline-block;
  }
  p{color: $sec; 
    letter-spacing: 0.48px;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: $reg;
    font-size: 16px;
    @media (max-width: 767px) {
    font-size: 14px;
    }
  }
  .switch-item__toggle span:first-child {
    width: 40px;
    height: 24px;
    
    background-color: $sec;
    // border: 1px solid #9BADCA;
    border-radius: 32px;
   

  }

    .switch-item__toggle span+span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    transition: .3s;
  }

  input:checked+.switch-item__toggle > span+span {
    left: 18px;
    z-index: 2;
    background-color: white;
  }

  input:checked+.switch-item__toggle > span {
    background-color: $ac2;
  }

}
/*=============checkbox======*/
.form-checkbox, .form-radio{
  &.disable {
      opacity: .36;
      cursor: default;
      pointer-events: none;
    }
    label {
    display: flex;
    align-items: center;
    position: relative;
    cursor:pointer;
   

    input {
      width: 0.01px;
      height: 0.01px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &::placeholder{
    font-size: inherit;
    color: $sec1;
  }
    }
  }
}
.form-checkbox {

    span.fake-checkbox {
      width: 20px;
      height: 20px;
      border-radius: 6px;
      background: #fff;
      border: 1px solid $sec;
      margin-right: 12px;
      font-size: 14px;
      line-height: 20px;
      color: $sec;
      background: url(../img/icons/check.svg);
      background-position: center -50px;
      background-repeat: no-repeat;
      background-size: auto;
      transition: .3s;
      flex-shrink: 0;
      display: block;
    }

    input[type="checkbox"]:checked+span.fake-checkbox {
      background-color: $ac2;
      background-position: center center;
      border: 1px solid $ac2;

    }
    input[type="checkbox"]:checked+.form-item__pic {
      background-color: $ac1;

      svg {
        fill: white;
      }
    }
  }


.form-radio {
  .fake-radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid $sec;
    background: #fff;
    background: url(../img/icons/check.svg);
    background-position: center -50px;
    background-repeat: no-repeat;
    background-size: auto;
    transition: .3s;
    flex-shrink: 0;
    display: block;
  }

  span+span {
    margin-left: 12px;
  }

  input[type="radio"]:checked+span.fake-radio {
    background-color: $ac2;
    background-position: center;
    border: 1px solid $ac2;

  }
    input[type="radio"]:checked+ .form-item__pic{
      background-color: $ac1;
      svg{fill: white;}
    }
    
}
.form-radio, .form-checkbox{
  .body-5{width: 100%; margin-top: 5px;}
  .form-item__pic{
      width: 62px;
      height: 62px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $sec2;
      border-radius: 12px;
      transition: .5s;
      flex-shrink: 0;
      svg{
        fill: $sec;
        transition: .5s;

      }
     @media (max-width: 767px) {
        width: 52px;
        height: 52px;
     }     
    }

}
.drop-block{
  position: relative;
  label{
    display: block;
  }
  input{
    width: 0.01px;
    height: 0.01px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
  }
  &__list{
    display: none;
    a{display: block;}
  }
  input:checked + .drop-block__list {
    display: block;
  }
}
.form-item.form-item--search {
  .form-input{padding-right: 50px;}
  .flx-center{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 4px;
    display: flex;
    align-items: center;
    right: 0;
    transition: .5s;
    &:hover svg{
      transform: scale(1.35);
    }
    
  }
}
.help-input {
  width: 0.01em;
  height: 0.01em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.form-fieldset{
  border-radius: 20px;
    border: 1px solid $sec2;
    background: $sec4;
  padding: 30px;
  @media(max-width:1439px){
    padding: 20px;
    
  }
}
.btn-clean{
  @media (max-width: 991px) {
    span{display: none;}
  }
}
.form-buttons{
  @media (max-width: 991px) {
      .btn, button, .btn-outline, .btn-accent {
        width: auto;
        flex-grow: 1;
      }
    }
}
.form-fieldset+.form-fieldset{
  margin-top: 20px;
  @media (max-width: 767px) {
  margin-top: 10px;
  }
}
.form-row{
  display: flex;
  
  button{flex-shrink: 0;}
  .form-item{flex-grow:1;}
  gap:10px;
}
.form-row +.form-row{margin-top: 20px;}

/*======================*/
.mySelect {
  position: relative;
}

.mySelect-drop {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  
  transform: translateY(100%);
  z-index: 2;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  
}

.mySelect input {
  display: block;
  width: 100%;
  height: 54px;
  cursor:pointer;
  &::placeholder{
    font-size: inherit;
    color: $sec1;
  }
}
.mySelect-input{
  position: relative;
  z-index: 3;
  input{padding-right: 35px;}
  
}

.mySelect-drop {
  display: none;
  max-height: 171px;
  overflow: hidden;
  overflow-y:auto;
  scrollbar-width: thin;
  scrollbar-color: $sec2 transparent;
  border-radius: 0 0 12px 12px;
  padding-top: 5px;
  margin-top: -5px;
  border: 1px solid $sec2;
    background: white;
    box-shadow: 0px 8px 12px 0px rgba(67, 94, 108, 0.06);
  &::-webkit-scrollbar{
    display: block;
    width: 4px;
    height: 20px;
  }
  &::-webkit-scrollbar-thumb{
    width: 4px;
   height: 20px;
   background-color: $sec2;
   border-radius: 4px;
  }
  &::-webkit-scrollbar-track{background-color:transparent;}
  .mySelect-options{
    border: none; 
    border-radius: 0;
    color: $sec1;
    cursor:pointer;
    &:hover{color: $pr1;}
  }
  @media (max-width: 991px) {
    border-radius: 0 0 10px 10px ;
  }
}

.mySelect-drop.active {
  display: block;
  
}

.mySelect-icon {
  width: 10px;
  height: 10px;
  border-top: 2px solid $sec1;
  border-right: 2px solid $sec1;
  transform: rotate(135deg);
  transition: .3s;
  pointer-events: none;
  position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
}

.mySelect-icon.active {
  transform: rotate(-45deg);

}
.text-label{
  font-size: 14px;
  color: $pr;
  margin-bottom: 5px;
  line-height: 1.4;
  display: block;
}