mixin download-card(text)
	a(href="#!").download-card.fly-center
		img(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
		p #{text}
		span .pdf
		svg.svg-downl
			use(href="./img/spriteSvg.svg#svg-downl")