mixin input(plh, subtext, addCls, val )
	.form-item
		if addCls == 'disable'
			input.form-input(class=' disable'  readonly type="text" name="name" value=(val =='' ? '' : ''+ val ) )
		else
			input.form-input(class=(addCls =='' ? '' : ' '+addCls ) type="text" name="name" )

		span.fake-placeholder #{plh}
		p #{subtext}