extends ../layouts/layout-calc.pug

block content
	.page-grid
		include ../sections/_main-menu
		+header('Для бизнеса','partners-bg' )
		include ../sections/_calculate.pug
		
		
	
	//====footer======
	include ../sections/_footer.pug
	
block variables
	-var title = "Калькуллятор";