extends ../layouts/layout.pug

block content
	.start-page
		h1 Алания
		.start-page__cards
			a(href="../ui/peremen.html") UI-KIT PAGE
			
			a(href="main.html")
				span Главная
				
			a(href="news.html")
				span Новости и события
			
			a(href="content-page.html")
				span Content page
			
			a(href="projects.html")
				span Инвестиционный климат
				
block variables
	-var title = "Page";
