extends ../layouts/layout.pug

block content
	.page-grid
		include ../sections/_main-menu
		include ../sections/_header.pug
		include ../sections/_invest-projects.pug
	include ../sections/_footer.pug
	
block variables
	-var title = "Главная";
