extends ../layouts/layout.pug

block content
	.page-grid
		include ../sections/_main-menu
		+header('Государственно-частное партнерство','partners-bg' )
		include ../sections/_documents-page.pug
		
		
	
	//====footer======
	include ../sections/_footer.pug
	
block variables
	-var title = "Партнерство";