extends ../layouts/layout.pug

block content
	.page-grid
		include ../sections/_main-menu
		+header('Инвестиционный климат','content-page' )
		include ../sections/_success-history.pug
		
		
	
	//====footer======
	include ../sections/_footer.pug
	
block variables
	-var title = "Инвестиционный климат";